/*
---
name: .u-hidden
category:
  - object/utility
  - object/utility/hidden
  - object/utility/hidden/hidden
---
Hidden utility

### html
```html
<div class="u-hidden">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden {
  @include _hidden();
}

/*
---
name: .u-hidden-sm
category:
  - object/utility
  - object/utility/hidden
  - object/utility/hidden/hidden-sm
---
Hidden utility for sm

### html
```html
<div class="u-hidden-sm">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-sm {
  @include _media-only(sm) {
    @include _hidden();
  }
}

/*
---
name: .u-hidden-md
category:
  - object/utility
  - object/utility/hidden
  - object/utility/hidden/hidden-md
---
Hidden utility for md

### html
```html
<div class="u-hidden-md">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-md {
  @include _media-only(md) {
    display: none !important;
  }
}

/*
---
name: .u-hidden-md-up
category:
  - object/utility
  - object/utility/hidden
  - object/utility/hidden/hidden-md-up
---
Hidden utility for md or more

### html
```html
<div class="u-hidden-md-up">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-md-up {
  @include _media-min(md) {
    @include _hidden();
  }
}

/*
---
name: .u-hidden-lg
category:
  - object/utility
  - object/utility/hidden
  - object/utility/hidden/hidden-lg
---
Hidden utility for lg

### html
```html
<div class="u-hidden-lg">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-lg {
  @include _media-only(lg) {
    @include _hidden();
  }
}

/*
---
name: .u-hidden-lg-up
category:
  - object/utility
  - object/utility/hidden
  - object/utility/hidden/hidden-lg-up
---
Hidden utility for lg or more

### html
```html
<div class="u-hidden-lg-up">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-lg-up {
  @include _media-min(lg) {
    @include _hidden();
  }
}

/*
---
name: .u-hidden-xl
category:
  - object/utility
  - object/utility/hidden
  - object/utility/hidden/hidden-xl
---
Hidden utility for xl

### html
```html
<div class="u-hidden-xl">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-xl {
  @include _media-only(xl) {
    @include _hidden();
  }
}

/*
---
name: .u-hidden-xl-up
category:
  - object/utility
  - object/utility/hidden
  - object/utility/hidden/hidden-xl-up
---
Hidden utility for xl or more

### html
```html
<div class="u-hidden-xl-up">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-xl-up {
  @include _media-min(xl) {
    @include _hidden();
  }
}
