/*
---
name: .u-hidden-sm
category:
  - object/utility
  - object/utility/hidden
---

```html
<div class="u-hidden-sm">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-sm {
  @include _media-only(sm) {
    display: none !important;
  }
}

/*
---
name: .u-hidden-md
category:
  - object/utility
  - object/utility/hidden
---

```html
<div class="u-hidden-md">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-md {
  @include _media-only(md) {
    display: none !important;
  }
}

/*
---
name: .u-hidden-md-up
category:
  - object/utility
  - object/utility/hidden
---

```html
<div class="u-hidden-md-up">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-md-up {
  @include _media-min(md) {
    display: none !important;
  }
}

/*
---
name: .u-hidden-lg
category:
  - object/utility
  - object/utility/hidden
---

```html
<div class="u-hidden-lg">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
</div>
```
*/

.#{$_prefix}u-hidden-lg {
  @include _media-only(lg) {
    display: none !important;
  }
}
