// @import '../../../core/core';

@mixin bs-c-alert() {
	$bs-c-alert-border-radius: $bs-border-radius !default;
	$bs-c-alert-border-color: bs-light($bs-color-gray) !default;
	$bs-c-alert-padding: $bs-font-size !default;

	background-color: #fff;
	border-radius: $bs-c-alert-border-radius;
	border: 1px solid $bs-c-alert-border-color;
	display: block;
	padding: $bs-c-alert-padding;
}
