//
// The alert component
//
// <div class="_c-alert" role="alert">
//   ...
// </div>
//

.#{$_prefix}c-alert {
  @include _alert((
    background-color: #fff,
    border: 1px solid _light($_color-gray),
  ));

  border-radius: $_border-radius;
  padding: $_base-font-size;
}
