//
// The bottom balloon component
//
// <div class="_c-balloon-bottom">
//   ...
// </div>
//

.#{$_prefix}c-balloon-bottom {
  @include _balloon-bottom((
    background-color: #fff,
    border-color: _light($_color-gray),
    border-size: 1px,
    triangle-size: 10px,
  ));

  border-radius: $_border-radius;
  @include _padding(.75);
}
