//
// The right balloon component
//
// <div class="_c-balloon-right">
//   ...
// </div>
//

.#{$_prefix}c-balloon-right {
  @include _balloon-right((
    'background-color': #fff,
    'border-color'    : _light($_color-gray),
    'border-size'     : 1px,
    'triangle-size'   : 10px,
  ));

  border-radius: $_border-radius;
  @include _padding(.75);
}
