/*
---
name: .c-breadcrumbs
category:
  - object/component
  - object/component/breadcrumbs
---
Breadcrumbs component

### html
```html
<ol class="c-breadcrumbs">
  <li class="c-breadcrumbs__item"><a href="#">Lorem</a></li>
  <li class="c-breadcrumbs__item">ipsum</li>
</ol>
```
*/

.#{$_prefix}c-breadcrumbs {
  @include _breadcrumbs();
}
