/*
---
name: Card
category:
  - object/component
  - object/component/card
---

```html
<div class="_c-card">
  <div class="_c-card__figure">
    <img src="/aigis_assets/images/dummy.jpg">
  </div>
  <div class="_c-card__body">
    ...
  </div>
  <div class="_c-card__action">
    ...
  </div>
</div>
```
*/

.#{$_prefix}c-card {
  @include _card((
    background-color: #fff,
  ));

  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .1),
              0 1px 1px 0 rgba(0, 0, 0, .05);

  &__action {
    border-top: 1px solid _lighter($_color-gray);
    @include _padding(.5, .75);
  }
}
