//
// The card componet
//
// <div class="_c-card">
//  <div class="_c-card__figure">
//    <img ...>
//  </div>
//  <div class="_c-card__body">
//    ...
//  </div>
//  <div class="_c-card__action">
//    ...
//  </div>
// </div>
//

.#{$_prefix}c-card {
  @include _card();
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .1),
              0 1px 1px 0 rgba(0, 0, 0, .05);
  background-color: #fff;

  &__body {
    @include _padding(.5, .75);
  }

  &__action {
    border-top: 1px solid _lighter($_color-gray);
    @include _padding(.5, .75);
  }
}
