/*
---
name: Card
category:
  - object/component
  - object/component/card
---

```html
<div class="c-card">
  <div class="c-card__figure">
    <img src="/aigis_assets/images/dummy.jpg">
  </div>
  <div class="c-card__body">
    ...
  </div>
  <div class="c-card__action">
    ...
  </div>
</div>
```
```html
<div class="c-card">
  <div class="c-card__figure" style="background-image: url('/aigis_assets/images/dummy.jpg'); padding-top: 50%">
    <div style="position: absolute; left: 10px; bottom: 10px">あいうえお</div>
  </div>
  <div class="c-card__body">
    ...
  </div>
  <div class="c-card__action">
    ...
  </div>
</div>
```
*/

.#{$_prefix}c-card {
  @include _card();
}
