/*
---
name: Checkbox
category:
  - object/component
  - object/component/checkbox
---

```html
<label>
  <span class="_c-checkbox">
    <input type="checkbox">
    <span class="_c-checkbox__control"></span>
  </span>
  ...
</label>
```
*/

.#{$_prefix}c-checkbox {
  @include _checkbox((
    size: $_base-font-size-px,
    border-radius: $_border-radius,
  ));
}
