/*
---
name: Container (Fluid)
category:
  - object/component
  - object/component/container
---

```html
<div class="c-container-fluid">
  ...
</div>
```
*/

.#{$_prefix}c-container-fluid {
  @include _container-fluid();
}

/*
---
name: Container
category:
  - object/component
  - object/component/container
---

```html
<div class="c-container">
  ...
</div>
```
*/

.#{$_prefix}c-container {
  @include _container();
}
