/*
---
name: Flexible media
category:
  - object/component
  - object/component/flex-media
---

```html
<div class="c-flex-media">
  <div class="c-flex-media__figure">
    <img src="/aigis_assets/images/dummy.jpg" style="width: 150px">
  </div>
  <div class="c-flex-media__body">
    ...
  </div>
</div>
```
*/

.#{$_prefix}c-flex-media {
  @include _flex-media();
  $root: #{&};

  &--reverse {
    .#{$root}__figure {
      @include _media-min(md) {
        order: 1;
      }
    }
  }
}
