/*
---
name: .c-flex-media
category:
  - object/component
  - object/component/flex-media
---
Flexible media component

### html
```html
<div class="c-flex-media">
  <div class="c-flex-media__figure">
    <img src="/basis/aigis_assets/images/dummy.jpg" style="width: 150px">
  </div>
  <div class="c-flex-media__body">
    ...
  </div>
</div>
```
```html
<div class="c-flex-media c-flex-media--reverse">
  <div class="c-flex-media__figure">
    <img src="/basis/aigis_assets/images/dummy.jpg" style="width: 150px">
  </div>
  <div class="c-flex-media__body">
    ...
  </div>
</div>
```
*/

.#{$_prefix}c-flex-media {
  @include _flex-media();
  $root: #{&};

  &--reverse {
    #{$root}__figure {
      @include _media-min(md) {
        order: 1;
      }
    }
  }
}
