/*
---
name: Flexible media
category:
  - object/component
  - object/component/flex-media
---

```html
<div class="_c-flex-media">
  <div class="_c-flex-media__figure">
    <img src="/aigis_assets/images/dummy.jpg" style="width: 150px">
  </div>
  <div class="_c-flex-media__body">
    ...
  </div>
</div>
```
*/

.#{$_prefix}c-flex-media {
  @include _flex-media();

  &__figure {
    @include _margin(0, 0, .5);

    @include _media-min(md) {
      @include _margin(0, 1, 0, 0);
    }
  }

  &--reverse {
    .#{$_prefix}c-flex-media__figure {
      @include _media-min(md) {
        @include _margin(0, 0, 0, 1);
        order: 1;
      }
    }
  }
}
