/*
---
name: Form Control
category:
  - object/component
  - object/component/form-control
---

```html
<input type="text" class="_c-form-control">
```
```html
<textarea class="_c-form-control"></textarea>
```
```html
<input type="text" class="_c-form-control" disabled>
```
```html
<input type="text" class="_c-form-control" readonly>
```
*/

.#{$_prefix}c-form-control {
  @include _form-control();
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .035);

  &[disabled] {
    background-color: _lighter($_color-gray);
    cursor: not-allowed;
  }

  &[readonly] {
    background-color: _lighter($_color-gray);
  }
}
