[class^="#{$_prefix}ic-"],
[class*=" #{$_prefix}ic-"] {
  @include _ic();
}

/*
---
name: Icon (Angle Right)
category:
  - object/component
  - object/component/icon-font
---

```html
<span class="_ic-angle-right" aria-hidden="true"></span>
```
*/

.#{$_prefix}ic-angle-right::before {
  content: "\e900";
}

/*
---
name: Icon (Check)
category:
  - object/component
  - object/component/icon-font
---

```html
<span class="_ic-check" aria-hidden="true"></span>
```
*/

.#{$_prefix}ic-check::before {
  content: "\e901";
}

/*
---
name: Icon (Angle Down)
category:
  - object/component
  - object/component/icon-font
---

```html
<span class="_ic-angle-down" aria-hidden="true"></span>
```
*/

.#{$_prefix}ic-angle-down::before {
  content: "\e902";
}
