/*
---
name: Input Group
category:
  - object/component
  - object/component/input-group
---

```html
<div class="_c-input-group">
  <div class="_c-input-group__addon">@</div>
  <div class="_c-input-group__field">
    <input type="text">
  </div>
  <button class="_c-input-group__btn">Go</button>
</div>
```
*/

.#{$_prefix}c-input-group {
  @include _input-group();

  &__addon {
    background-color: _lighter($_color-gray);
  }
}
