//
// The meta component
//
// <ul class="_c-meta">
//   <li class="_c-meta__item">
//     ...
//   </li>
// </ul>
//

.#{$_prefix}c-meta {
  @include _list-unstyled();
  @include _font-size-line-height($_base-font-size-px - 2);

  &, a {
    color: $_color-gray;
  }

  &__item {
    display: inline;
  }
}
