/*
---
name: Radio
category:
  - object/component
  - object/component/radio
---

```html
<label>
  <span class="_c-radio">
    <input type="radio">
    <span class="_c-radio__control"></span>
  </span>
  ...
</label>
```
*/

.#{$_prefix}c-radio {
  @include _radio((
    size: $_base-font-size-px,
  ));

  margin-right: ($_base-font-size-px / 2);
}
