/*
---
name: .c-row
category:
  - object/component
  - object/component/grid-system
---
Row component of flexbox based grid system

### html
```html
<div class="c-row">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">3</div>
  </div>
</div>
```
```html
<div class="c-row c-row--reverse">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">3</div>
  </div>
</div>
```
```html
<div class="c-row c-row--nowrap">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">3</div>
  </div>
</div>
```
```html
<div class="c-row c-row--left">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
</div>
```
```html
<div class="c-row c-row--right">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
</div>
```
```html
<div class="c-row c-row--center">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
</div>
```
```html
<div class="c-row c-row--between">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
</div>
```
```html
<div class="c-row c-row--around">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
</div>
```
```html
<div class="c-row c-row--top">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">
      2<br>
      2
    </div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">
      3<br>
      3<br>
      3
    </div>
  </div>
</div>
```
```html
<div class="c-row c-row--bottom">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">
      2<br>
      2
    </div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">
      3<br>
      3<br>
      3
    </div>
  </div>
</div>
```
```html
<div class="c-row c-row--middle">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">
      2<br>
      2
    </div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">
      3<br>
      3<br>
      3
    </div>
  </div>
</div>
```
```html
<div class="c-row c-row--baseline">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">
      2<br>
      2
    </div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">
      3<br>
      3<br>
      3
    </div>
  </div>
</div>
```
```html
<div class="c-row c-row--collapse">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">3</div>
  </div>
</div>
```
```html
<div class="c-row c-row--margin">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">3</div>
  </div>
</div>
```
```html
<div class="c-row c-row--margin-s">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">3</div>
  </div>
</div>
```
```html
<div class="c-row c-row--margin-l">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">2</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">3</div>
  </div>
</div>
```
```html
<div class="c-row c-row--fill">
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">
      2<br>
      2
    </div>
  </div>
  <div class="c-row__col c-row__col--1-3">
    <div style="background: #eee">
      3<br>
      3<br>
      3
    </div>
  </div>
</div>
```
```html
<div class="c-row c-row--margin">
  <div class="c-row__col c-row__col--auto">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--auto">
    <div style="background: #eee">22</div>
  </div>
  <div class="c-row__col c-row__col--auto">
    <div style="background: #eee">333</div>
  </div>
</div>
```
```html
<div class="c-row c-row--margin">
  <div class="c-row__col c-row__col--justify">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--justify">
    <div style="background: #eee">22</div>
  </div>
  <div class="c-row__col c-row__col--justify">
    <div style="background: #eee">333</div>
  </div>
</div>
```
```html
<div class="c-row c-row--margin">
  <div class="c-row__col c-row__col--fit">
    <div style="background: #eee">1</div>
  </div>
  <div class="c-row__col c-row__col--fit">
    <div style="background: #eee">22</div>
  </div>
  <div class="c-row__col c-row__col--fit">
    <div style="background: #eee">333</div>
  </div>
</div>
```
*/

.#{$_prefix}c-row {
  --_row-margin--scale: 0;
  --_row-margin: calc(#{ _var-space() } * var(--_row-margin--scale) * #{ _var-margin-scale() });

  @include _row();
  margin-right: calc(var(--_row-margin) / 2 * -1);
  margin-left: calc(var(--_row-margin) / 2 * -1);
  margin-bottom: calc(var(--_row-margin) * -1);

  &__col {
    --_row__col--width: 100%;

    flex: 0 1 var(--_row__col--width);
    max-width: var(--_row__col--width);
  }

  > .#{$_prefix}c-row__col {
    padding-right: calc(var(--_row-margin) / 2);
    padding-left: calc(var(--_row-margin) / 2);
    padding-bottom: var(--_row-margin);
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  @each $size, $screen-min in $_sizes {
    @include _media-min($screen-min) {
      $prefix: _size-prefix($size);

      &#{$prefix}-nowrap {
        flex-wrap: nowrap;
      }

      &#{$prefix}-left {
        justify-content: flex-start;
      }

      &#{$prefix}-right {
        justify-content: flex-end;
      }

      &#{$prefix}-center {
        justify-content: center;
      }

      &#{$prefix}-between {
        justify-content: space-between;
      }

      &#{$prefix}-around {
        justify-content: space-around;
      }

      &#{$prefix}-top {
        align-items: flex-start;
      }

      &#{$prefix}-bottom {
        align-items: flex-end;
      }

      &#{$prefix}-middle {
        align-items: center;
      }

      &#{$prefix}-baseline {
        align-items: baseline;
      }

      &#{$prefix}-collapse {
        --_row-margin: 0;
      }

      &#{$prefix}-margin {
        --_row-margin--scale: 1;

        &-s {
          --_row-margin--scale: .5;
        }

        &-l {
          --_row-margin--scale: 2;
        }
      }

      &#{$prefix}-fill {
        > .#{$_prefix}c-row__col {
          display: flex;

          > * {
            @include _row__col--width(100%);
          }
        }
      }
    }
  }
}

@each $size, $screen-min in $_sizes {
  @include _media-min($screen-min) {
    $prefix: _size-prefix($size);

    @for $max_columns from 1 through $_max-columns {
      @for $i from 1 through $max_columns {
        $gcd: _gcd($i, $max_columns);

        @if (1 == $gcd) {
          %_bs-item#{$prefix}-gcd-#{$i / $gcd}-#{$max_columns / $gcd} {
            --_row__col--width: #{ $i / $max_columns * 100% };
          }
        }
      }
    }

    %_bs-item#{$prefix}-full {
      --_row__col--width: 100%;
    }

    .#{$_prefix}c-row__col {
      &#{$prefix}-auto {
        // @todo 例えば .c-row__col--auto .c-row__col--lg-1-2 とすると、.c-row__col--auto の flex で上書きされるため崩れる
        @include _row__col--width(auto);
      }

      &#{$prefix}-justify {
        // @todo 例えば .c-row__col--justify .c-row__col--lg-1-2 とすると、.c-row__col--justify の flex で上書きされるため崩れる
        @include _row__col--width(1);
      }

      &#{$prefix}-fit {
        --_row__col--width: auto;
      }
    }
  }
}

.#{$_prefix}c-row__col {
  @each $size, $screen-min in $_sizes {
    @include _media-min($screen-min) {
      $prefix: _size-prefix($size);

      @for $max_columns from $_min-columns through $_max-columns {
        @for $i from 1 through $max_columns {
          $gcd: _gcd($i, $max_columns);

          &#{$prefix}-#{$i}-#{$max_columns} {
            @if ($max_columns != $i) {
              @extend %_bs-item#{$prefix}-gcd-#{$i / $gcd}-#{$max_columns / $gcd};
            } @else {
              @extend %_bs-item#{$prefix}-full;
            }
          }
        }
      }
    }
  }
}
