/*
---
name: Section
category:
  - object/component
  - object/component/section
---

```html
<section class="_c-section">
  <h2 class="_c-section__title">...</h2>
  <div class="_c-section__content">
    ...
  </div>
</section>
```
*/

.#{$_prefix}c-section {
  @include _padding(2, 0);

  &__title {
  }

  &__content {
  }
}
