/*
---
name: Select
category:
  - object/component
  - object/component/select
---

```html
<span class="_c-select" data-c="select" aria-selected="false">
  <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>
  <span class="_c-select__label" data-c="select__label"></span>
</span>
```
*/

.#{$_prefix}c-select {
  @include _select();

  &--block {
    display: block;

    > select {
      width: 100%;
    }
  }
}
