/*
---
name: Select
category:
  - object/component
  - object/component/select
---

```html
<span class="_c-select">
  <select></select>
</span>
```
*/

.#{$_prefix}c-select {
  @include _select((
    background-color: #fff,
    border: 1px solid _light($_color-gray),
  ));

  border-radius: $_border-radius;

  &::before {
    @include _triangle-bottom(8px, 6px, _dark($_color-gray))
    width: 0;
    height: 0;
  }

  > select {
    padding: ($_base-line-height / 4) $_base-line-height ($_base-line-height / 4) ($_base-line-height / 2);
  }

  &--block {
    display: block;
  }
}
