/*
---
name: Select
category:
  - object/component
  - object/component/select
---

```html
<span class="_c-select" data-c="select">
  <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>
  <span class="_c-select__label" data-c="select__label"></span>
</span>
```
*/

.#{$_prefix}c-select {
  $padding: ($_base-line-height / 4) ($_base-line-height * 2) ($_base-line-height / 4) ($_base-line-height / 2);

  @include _select((
    background-color: #fff,
    border: 1px solid _light($_color-gray),
  ));

  border-radius: $_border-radius;

  &::before {
    @include _position(absolute, 50%, ($_between-lines * 2), null, null);
    transform: translateY(-50%);
    @include _ic();
    content: "\e902";
  }

  > select {
    padding: $padding;
  }

  &__label {
    padding: $padding;
  }

  &--block {
    display: block;
  }
}
