html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: $bs-color-text;
	font-family: $bs-font-family;
	font-size: $bs-font-size-md;
	line-height: $bs-line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input, textarea, keygen, select, button {
	font-family: $bs-font-family;
}

* {
	box-sizing: border-box;
}

/**
 * image
 */
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

/**
 * margin
 */
h1, h2, h3, h4 {
	margin-top: ($bs-gutter * 3);
	margin-bottom: ($bs-gutter * 2);
}

h5, h6 {
	margin-top: ($bs-gutter * 2);
	margin-bottom: 0;
}

p, ul, ol, dl, table, pre {
	margin-top: 0;
	margin-bottom: ($bs-gutter * 2);
}

/**
 * heading
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	
	small, .small {
		color: bs-lightest( $bs-color-text );
		font-size: 65%;
		font-weight: normal;
	}
}
h1, .h1 {
	font-size: ($bs-font-size-md * 2.4);
	line-height: ($bs-line-height / 1.4);
}
h2, .h2 {
	font-size: ($bs-font-size-md * 2.0);
	line-height: ($bs-line-height / 1.3);
}
h3, .h3 {
	font-size: ($bs-font-size-md * 1.7);
	line-height: ($bs-line-height / 1.2);
}
h4, .h4 {
	font-size: ($bs-font-size-md * 1.4);
}
h5, .h5 {
	font-size: ($bs-font-size-md * 1.2);
}
h6, .h6 {
	font-size: $bs-font-size-md;
}

/**
 * Lists
 */
ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
}

/**
 * blockquote
 */
blockquote {
	border-left: 5px solid bs-lightest( $bs-color-gray );
	margin-left: 0;
	padding: $bs-gutter 0 $bs-gutter ($bs-gutter * 2);
	
	:last-child {
		margin-bottom: 0;
	}
	
	footer {
		color: bs-darker( $bs-color-gray );
		font-size: 90%;
	}
}

/**
 * code
 */
code {
	background-color: lighten( $bs-color-danger, 34% );
	border-radius: $bs-border-radius-md;
	color: bs-dark( $bs-color-danger );
	font-size: 90%;
	padding: 2px 4px;
}

/**
 * pre
 */
pre {
	background-color: bs-lightest( $bs-color-gray );
	border: 1px solid bs-lighter( $bs-color-gray );
	border-radius: $bs-border-radius-md;
	padding: ($bs-gutter * 2);
	
	code {
		background-color: transparent;
		border: none;
		color: $bs-color-text;
		padding: 0;
	}
}
