.#{$bs-prefix}container, .#{$bs-prefix}container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-right: $bs-margin * 2;
	padding-left: $bs-margin * 2;
	overflow: hidden;
}

.#{$bs-prefix}container {
	@include bs-bp-min( $bs-screen-lg-min ) {
		max-width: $bs-max-width;
	}
}

/**
 * flex container
 */
.#{$bs-prefix}row {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	
	&--auto {
		> .#{$bs-prefix}row__col {
			flex: auto;
		}
	}
	
	@each $bs-size, $bs-screen-min in $bs-sizes {
		@include bs-bp-min( $bs-screen-min ) {
			$prefix: bs-bp-prefix( $bs-size );
			
			&#{$prefix}-row {
				flex-direction: row;
			}
			
			&#{$prefix}-column {
				flex-direction: column;
			}
			
			&#{$prefix}-left {
				justify-content: flex-start;
			}
			
			&#{$prefix}-right {
				justify-content: flex-end;
			}
			
			&#{$prefix}-center {
				justify-content: center;
			}
			
			&#{$prefix}-between {
				justify-content: space-between;
			}
			
			&#{$prefix}-around {
				justify-content: space-around;
			}
			
			&#{$prefix}-top {
				align-items: flex-start;
			}
			
			&#{$prefix}-bottom {
				align-items: flex-end;
			}
			
			&#{$prefix}-middle {
				align-items: center;
			}
			
			&#{$prefix}-baseline {
				align-items: baseline;
			}
			
			&#{$prefix}-collapse {
				margin-right: 0;
				margin-left: 0;
				margin-bottom: 0;
				
				> .#{$bs-prefix}row__col {
					padding-right: 0;
					padding-left: 0;
					margin-bottom: 0;
				}
			}
			
			&#{$prefix}-margin {
				margin-right: -($bs-margin * 2);
				margin-left: -($bs-margin * 2);
				margin-bottom: -($bs-margin * 2);
				
				> .#{$bs-prefix}row__col {
					padding-right: ($bs-margin * 2);
					padding-left: ($bs-margin * 2);
					margin-bottom: ($bs-margin * 2);
				}
				
				&-s {
					margin-right: -($bs-margin);
					margin-left: -($bs-margin);
					margin-bottom: -($bs-margin);
					
					> .#{$bs-prefix}row__col {
						padding-right: $bs-margin;
						padding-left: $bs-margin;
						margin-bottom: $bs-margin;
					}
				}
				
				&-l {
					margin-right: -($bs-margin * 3);
					margin-left: -($bs-margin * 3);
					margin-bottom: -($bs-margin * 3);
					
					> .#{$bs-prefix}row__col {
						padding-right: ($bs-margin * 3);
						padding-left: ($bs-margin * 3);
						margin-bottom: ($bs-margin * 3);
					}
				}
			}
		}
	}
}

/**
 * flex item
 */
.#{$bs-prefix}row__col {
	flex: 1;
}

@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		@for $max_columns from 1 through 12 {
			@for $i from 1 through $max_columns {
				$gcd: bs-gcd( $i, $max_columns );
				
				.#{$bs-prefix}row__col#{$prefix}-#{$i}-#{$max_columns} {
					@if $i != $max_columns {
						@extend %bs-item#{$prefix}-gcd-#{$i / $gcd}-#{$max_columns / $gcd};
					} @else {
						@extend %bs-item#{$prefix}-full;
					}
				}
			}
		}
	}
}

/* multiple placeholder */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		@for $max_columns from 2 through 12 {
			@for $i from 1 through $max_columns {
				$gcd: bs-gcd( $i, $max_columns );

				@if $gcd == 1 {
					%bs-item#{$prefix}-gcd-#{$i / $gcd}-#{$max_columns / $gcd} {
						flex: 0 1 percentage($i / $max_columns);
					}
				}
			}
		}
		
		%bs-item#{$prefix}-full {
			flex: 0 1 100%;
		}
	}
}

/**
 * flex item offset
 */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		@for $max_columns from 2 through 12 {
			@for $i from 1 through $max_columns - 1 {
				$gcd: bs-gcd( $i, $max_columns );
			
				.#{$bs-prefix}row__col#{$prefix}-offset-#{$i}-#{$max_columns} {
					@extend %bs-item#{$prefix}-offset-gcd-#{$i / $gcd}-#{$max_columns / $gcd};
				}
			}
		}
	}
}

/* multiple placeholder */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		@for $max_columns from 2 through 12 {
			@for $i from 1 through $max_columns - 1 {
				$gcd: bs-gcd( $i, $max_columns );
				
				@if $gcd == 1 {
					%bs-item#{$prefix}-offset-gcd-#{$i / $gcd}-#{$max_columns / $gcd} {
						margin-left: percentage($i / $max_columns);
					}
				}
			}
		}
	}
}

@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		.#{$bs-prefix}row__col#{$prefix}-offset-0 {
			margin-left: 0;
		}
	}
}

/**
 * flex item utilities
 */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		/**
		 * child element height 100%
		 */
		.#{$bs-prefix}row__col#{$prefix}-flex {
			display: flex;
			
			> * {
				flex: 0 1 100%;
			}
		}
	}
}
