.bs-wrapper, .bs-wrapper-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-right: $bs-gutter * 2;
	padding-left: $bs-gutter * 2;
	overflow: hidden;
}

.bs-wrapper {
	@include bs-bp-min( $bs-screen-md-min ) {
		padding-right: $bs-gutter * 5;
		padding-left: $bs-gutter * 5;
	}
	
	@include bs-bp-min( $bs-screen-lg-min ) {
		max-width: $bs-screen-lg-min;
	}
}

/**
 * flex container
 */
.bs-container {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	
	@each $bs-size, $bs-screen-min in $bs-sizes {
		@include bs-bp-min( $bs-screen-min ) {
			$prefix: bs-bp-prefix( $bs-size );
			
			&#{$prefix}-row {
				flex-direction: row;
			}
			
			&#{$prefix}-column {
				flex-direction: column;
			}
			
			&#{$prefix}-justify-start {
				justify-content: flex-start;
			}
			
			&#{$prefix}-justify-end {
				justify-content: flex-end;
			}
			
			&#{$prefix}-justify-center {
				justify-content: center;
			}
			
			&#{$prefix}-justify-between {
				justify-content: space-between;
			}
			
			&#{$prefix}-justify-around {
				justify-content: space-around;
			}
			
			&#{$prefix}-align-stretch {
				align-content: stretch;
			}
			
			&#{$prefix}-align-start {
				align-content: flex-start;
			}
			
			&#{$prefix}-align-end {
				align-content: flex-end;
			}
			
			&#{$prefix}-align-center {
				align-content: center;
			}
			
			&#{$prefix}-align-between {
				align-content: space-between;
			}
			
			&#{$prefix}-align-around {
				align-content: space-around;
			}
			
			&#{$prefix}-no-gutter {
				margin-right: 0;
				margin-left: 0;
				margin-bottom: 0;
			}
			
			&#{$prefix}-gutter {
				margin-right: -($bs-gutter * 2);
				margin-left: -($bs-gutter * 2);
				margin-bottom: -($bs-gutter * 2);
				
				> [class^="bs-item--"] {
					padding-right: ($bs-gutter * 2);
					padding-left: ($bs-gutter * 2);
					margin-bottom: ($bs-gutter * 2);
				}
				
				&-sm {
					margin-right: -($bs-gutter);
					margin-left: -($bs-gutter);
					margin-bottom: -($bs-gutter);
					
					> [class^="bs-item--"] {
						padding-right: $bs-gutter;
						padding-left: $bs-gutter;
						margin-bottom: $bs-gutter;
					}
				}
				
				&-lg {
					margin-right: -($bs-gutter * 3);
					margin-left: -($bs-gutter * 3);
					margin-bottom: -($bs-gutter * 3);
					
					> [class^="bs-item--"] {
						padding-right: ($bs-gutter * 3);
						padding-left: ($bs-gutter * 3);
						margin-bottom: ($bs-gutter * 3);
					}
				}
			}
		}
	}
}

/**
 * flex item
 */
[class^="bs-item--"] {
	flex-basis: 100%;
}

@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		@for $max_columns from 2 through 12 {
			@for $i from 1 through $max_columns {
				$gcd: bs-gcd( $i, $max_columns );
				
				.bs-item#{$prefix}-#{$i}-#{$max_columns} {
					@if $i != $max_columns {
						@extend %bs-item#{$prefix}-gcd-#{$i / $gcd}-#{$max_columns / $gcd};
					} @else {
						@extend %bs-item#{$prefix}-full;
					}
				}
			}
		}
	}
}

/* multiple placeholder */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		@for $max_columns from 2 through 12 {
			@for $i from 1 through $max_columns {
				$gcd: bs-gcd( $i, $max_columns );
				
				@if $gcd == 1 {
					%bs-item#{$prefix}-gcd-#{$i / $gcd}-#{$max_columns / $gcd} {
						flex-basis: #{$i / $max_columns * 100}%;
					}
				}
			}
		}
		
		%bs-item#{$prefix}-full {
			flex-basis: 100%;
		}
	}
}

/**
 * flex item offset
 */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		@for $max_columns from 2 through 12 {
			@for $i from 1 through $max_columns - 1 {
				$gcd: bs-gcd( $i, $max_columns );
			
				.bs-item#{$prefix}-offset-#{$i}-#{$max_columns} {
					@extend %bs-item#{$prefix}-offset-gcd-#{$i / $gcd}-#{$max_columns / $gcd};
				}
			}
		}
	}
}

/* multiple placeholder */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		@for $max_columns from 2 through 12 {
			@for $i from 1 through $max_columns - 1 {
				$gcd: bs-gcd( $i, $max_columns );
				
				@if $gcd == 1 {
					%bs-item#{$prefix}-offset-gcd-#{$i / $gcd}-#{$max_columns / $gcd} {
						margin-left: #{$i / $max_columns * 100}%;
					}
				}
			}
		}
	}
}

@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		.bs-item#{$prefix}-offset-0 {
			margin-left: 0;
		}
	}
}

/**
 * flex item utilities
 */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );
		
		/**
		 * auto width
		 */
		.bs-item#{$prefix}-auto {
			flex-basis: auto;
		}
		
		/**
		 * child element height 100%
		 */
		.bs-item#{$prefix}-flex {
			display: flex;
			
			> * {
				flex-basis: 100%;
			}
		}
		
		/**
		 * vertical alignment
		 */
		.bs-item#{$prefix}-align-start {
			align-self: flex-start;
		}
		.bs-item#{$prefix}-align-end {
			align-self: flex-end;
		}
		.bs-item#{$prefix}-align-center {
			align-self: center;
		}
		.bs-item#{$prefix}-align-baseline {
			align-self: baseline;
		}
		.bs-item#{$prefix}-align-stretch {
			align-self: stretch;
		}
	}
}
