* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: inherit;
  }
}

html, body,
p, ol, ul, li, dl, dt, dd, table,
blockquote, figure, fieldset, legend, pre, iframe, hr,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  font-size: (_strip-unit($_base-font-size-px) / 16 * 100%);
}

body {
  color: $_color-text;
  font-family: $_font-family;
  @include _font-size-line-height($_base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, kbd, pre, samp {
  @include _font-size-line-height($_base-font-size-px - 2);
  font-family: '_', monospace;
}

input, textarea, keygen, select, button {
  font-family: $_font-family;
}

input, textarea, optgroup, select, button {
  @include _line-height($_base-font-size);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  @include _font-size-line-height($_base-font-size * $_h1-font-size-scale);
}

h2 {
  @include _font-size-line-height($_base-font-size * $_h2-font-size-scale);
}

h3 {
  @include _font-size-line-height($_base-font-size * $_h3-font-size-scale);
}

h4 {
  @include _font-size-line-height($_base-font-size * $_h4-font-size-scale);
}

h5 {
  @include _font-size-line-height($_base-font-size * $_h5-font-size-scale);
}

h6 {
  @include _font-size-line-height($_base-font-size * $_h6-font-size-scale);
}

ul, ol {
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}

blockquote {
  border-left: ($_base-font-size / 2) solid _lighter($_color-gray);
  margin-left: 0;
  padding: $_base-font-size 0 $_base-font-size $_base-font-size;

  :last-child {
    margin-bottom: 0;
  }

  footer {
    color: _darker($_color-gray);
    font-size: 90%;
  }
}

code {
  background-color: _lighter($_color-gray);
  border-radius: $_border-radius;
  padding: 2px 6px;
}

pre {
  @include _pre();
}

label {
  cursor: pointer;
}
