@media ( max-width: $bs-screen-xs-max ) {
	.bs-hidden--xs {
		display: none;
	}
}

@media ( min-width: $bs-screen-sm-min ) and ( max-width: $bs-screen-sm-max ) {
	.bs-hidden--sm {
		display: none;
	}
}

@media ( min-width: $bs-screen-md-min ) and ( max-width: $bs-screen-md-max ) {
	.bs-hidden--md {
		display: none;
	}
}

@media ( min-width: $bs-screen-lg-min ) {
	.bs-hidden--lg {
		display: none;
	}
}
