<nav id="drawer-nav" class="c-drawer c-drawer--fixed" role="navigation" aria-hidden="true" aria-labelledby="hamburger-btn">
  <div class="c-drawer__inner">
    <%- include('../../sidemenu') %>
  </div>
</nav>
