<div class="p-global-nav u-pull-right" role="navigation">
  <ul class="c-navbar c-navbar--right">
    <li class="c-navbar__item"><a href="https://sass-basis.github.io">Brand site</a></li>
  </ul>
</div>
