@font-face {
  font-family: 'basis';
  src: url("/font/basis.eot");
  src: url("/font/basis.eot#iefix") format("embedded-opentype"), url("/font/basis.ttf") format("truetype"), url("/font/basis.woff") format("woff"), url("/font/basis.svg#basis") format("svg");
  font-weight: normal;
  font-style: normal; }
