.bs-alert {
	border-radius: $bs-border-radius-md;
	display: block;
	margin-bottom: $bs-gutter;
	padding: ($bs-gutter * 2);
	
	@each $bs-color, $bs-color-code in $bs-colors {
		&--#{$bs-color} {
			background-color: bs-lightest( $bs-color-code );
			color: bs-darkest( $bs-color-code );
		}
	}
}
