.#{$bs-prefix}btn {
	background-color: #fff;
	border-radius: $bs-border-radius-md;
	border: 1px solid bs-lighter($bs-color-gray);
	color: $bs-color-text;
	cursor: pointer;
	display: inline-block;
	font-size: $bs-font-size-md;
	line-height: $bs-line-height;
	padding: $bs-margin ($bs-margin * 3);
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	
	&--block {
		display: block;
	}
	
	&--ghost {
		background-color: transparent;
		border: 1px solid #fff;
		color: #fff;
		
		@include bs-hover() {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}
