@mixin _test($message) {
	@debug $message;
	@content;
}

@mixin _assert-equals($expected, $actual) {
	@if ($expected == $actual) {
		@debug 'OK!';
	} @else {
		@warn 'FAILURES! Expected: #{$expected}  Actual: #{$actual}';
	}
}
