// @import '../../../core/core';

/**
 * Radio component
 *
 * .c-radio {
 *     @include bs-c-radio();
 * }
 *
 * <span class="c-radio">
 *     <input type="radio" />
 * </span>
 */
@mixin bs-c-radio() {
	$bs-c-radio-margin: ($bs-font-size / 2) !default;

	display: inline-block;

	[type="radio"] {
		margin-right: $bs-c-radio-margin;
	}

	label {
		cursor: pointer;
	}
}
