/*!
 * Name: Basis v1.4.0
 * Description: The flexbox based CSS framework.
 * Author: Takashi Kitajima ( inc2734 )
 * Author URL: http://2inc.org
 * GitHub Repository: https://github.com/inc2734/basis
 * License: GPLv2 or later
 */

/* ========================================
 * variables
 ======================================= */
@import 'variable/setting';
@import 'variable/border-radius';
@import 'variable/break-point';
@import 'variable/color';
@import 'variable/font';

/* ========================================
 * functions
 ======================================= */
@import 'function/break-point';
@import 'function/color';
@import 'function/utility';

/* ========================================
 * mixins
 ======================================= */
@import 'mixin/break-point';
@import 'mixin/effect';
@import 'mixin/gutter';

/* ========================================
 * founcation
 ======================================= */
@import 'foundation/normalize';
@import 'foundation/base';

/* ========================================
 * layout
 ======================================= */
@import 'layout/grid';

/* ========================================
 * object - component
 ======================================= */
@import 'object/component/alert';
@import 'object/component/btn';
@import 'object/component/media';
@import 'object/component/form';

/* ========================================
 * object - utility
 ======================================= */
@import 'object/utility/hidden';
