$bs-prefix: '' !default;

.#{$bs-prefix}c-btn {
	@if (mixin-exists(bs-c-btn) == false) {
		@import 'mixin';
	}
	@include bs-c-btn();

	&--block {
		display: block;
	}

	&--ghost {
		background-color: transparent;
		border-color: #fff;
		color: #fff;
	}
}
