// @import '../../../core/core';

@mixin bs-c-btn {
	$bs-c-btn-border-color: bs-light($bs-color-gray) !default;
	$bs-c-btn-text-color: $bs-color-text !default;
	$bs-c-btn-padding: ($bs-font-size / 2) ($bs-font-size * 2) !default;

	background-color: #fff;
	border: 1px solid $bs-c-btn-border-color;
	color: $bs-c-btn-text-color;
	cursor: pointer;
	display: inline-block;
	padding: $bs-c-btn-padding;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;

	&--block {
		display: block;
	}

	&--ghost {
		background-color: transparent;
		border-color: #fff;
		color: #fff;
	}
}
