.#{ $_prefix }p-local-nav {
  ul {
    @include _list-unstyled();
  }

  li {
    li {
      padding: 0 0 0 var(--_padding-1);

      li {
        display: none;
      }
    }
  }

  a[href] {
    color: var(--_light-color-text);
    text-decoration: none;

    @include _hover() {
      text-decoration: underline;;
    }
  }

  a:not([href]) {
    color: var(--_lightest-color-text);
    cursor: text;
    text-decoration: none;
  }
}
