.#{$_prefix}p-local-nav {
  ul {
    @include _list-unstyled();
  }

  li {
    li {
      @include _padding(0, 0, 0, .5);

      li {
        display: none;
      }
    }
  }

  a[href] {
    color: _light($_color-text); // For IE11
    color: _var-light-color-text();
    text-decoration: none;

    @include _hover(lg) {
      text-decoration: underline;;
    }
  }

  a:not([href]) {
    color: _lightest($_color-text); // For IE11
    color: _var-lightest-color-text();
    cursor: text;
    text-decoration: none;
  }
}
