.#{ $_prefix }p-scroll-top {
  position: fixed;
  bottom: 16px;
  right: 16px;

  > a {
    display: block;
    @include _square(48px);
    overflow: hidden;
    background-color: rgba( 0, 0, 0, .8 );
    color: var(--_color-white);
    position: relative;

    > .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
