.#{$_prefix}p-show-grid {
  &__item {
    background-color: #00DAE6;
    border-left: 1px solid _var-color-white();
    border-bottom: 1px solid _var-color-white();
    color: _var-color-white();
    padding: 16px;

    &--cloudy {
      background-color: #eee;
      color: #999;
    }
  }
}
