.#{$_prefix}p-table-of-contents {
  @include _margin(0, 0, 2);
  @include _list-unstyled();
  @include _padding(0, 1);
  background-color: #fafafa;
  border: 1px solid transparent;
  border-color: _var_lighter-color-gray();
  border-radius: _var-border-radius();

  &__item {
    border-bottom: 1px solid transparent;
    border-bottom-color: _var-lighter-color-gray();

    &:last-child {
      border-bottom: none;
    }

    > a {
      display: block;
      @include _padding(.5, 0);
      color: inherit;
      text-decoration: none;

      @include _hover(lg) {
        opacity: .8;
      }
    }
  }
}
