.#{$_prefix}p-table-of-contents {
  @include _set-margin-bottom-level(2);
  @include _list-unstyled();
  @include _set-padding-right-level(1);
  @include _set-padding-left-level(1);
  background-color: #fafafa;
  border: 1px solid transparent;
  border-color: _var_lighter-color-gray();
  border-radius: var(--_border-radius);

  &__item {
    border-bottom: 1px solid transparent;
    border-bottom-color: var(--_lighter-color-gray);

    &:last-child {
      border-bottom: none;
    }

    > a {
      display: block;
      @include _set-padding-top-level(-1);
      @include _set-padding-bottom-level(-1);
      color: inherit;
      text-decoration: none;

      @include _hover() {
        opacity: .8;
      }
    }
  }
}
