* {
	&, &:before, &:after {
		box-sizing: border-box;
	}
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: $bs-color-text;
	font-family: $bs-font-family;
	@include bs-font-size-line-height($bs-font-size);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code, kbd, pre, samp {
	@include bs-font-size-line-height($bs-font-size * 0.9);
	font-family: '_', monospace;
}

input, textarea, keygen, select, button {
	font-family: $bs-font-family;
}

/**
 * image
 */
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

/**
 * margin
 */
p, ul, ol, dl, table, pre, blockquote {
	margin-top: 0;
	@include bs-margin-bottom(1);
}

/**
 * heading
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	@include bs-font-size-line-height($bs-font-size * $bs-h1-font-size-scale);
	margin-top: 0;
	@include bs-margin-bottom(2);
}

h2 {
	@include bs-font-size-line-height($bs-font-size * $bs-h2-font-size-scale);
	@include bs-margin-top(2);
	@include bs-margin-bottom(1);
}

h3 {
	@include bs-font-size-line-height($bs-font-size * $bs-h3-font-size-scale);
	@include bs-margin-top(2);
	@include bs-margin-bottom(1);
}

h4 {
	@include bs-font-size-line-height($bs-font-size * $bs-h4-font-size-scale);
	@include bs-margin-top(2);
	@include bs-margin-bottom(1);
}

h5 {
	@include bs-font-size-line-height($bs-font-size * $bs-h5-font-size-scale);
	@include bs-margin-top(1);
	@include bs-margin-bottom(.5);
}

h6 {
	@include bs-font-size-line-height($bs-font-size * $bs-h6-font-size-scale);
	@include bs-margin-top(1);
	@include bs-margin-bottom(.5);
}

/**
 * Lists
 */
ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
}

/**
 * blockquote
 */
blockquote {
	border-left: ($bs-font-size / 2) solid bs-lighter($bs-color-gray);
	margin-left: 0;
	padding: $bs-font-size 0 $bs-font-size $bs-font-size;

	:last-child {
		margin-bottom: 0;
	}

	footer {
		color: bs-darker($bs-color-gray);
		font-size: 90%;
	}
}

/**
 * code
 */
code {
	background-color: bs-lighter($bs-color-red);
	border-radius: $bs-border-radius;
	color: $bs-color-red;
	padding: 2px 4px;
}

/**
 * pre
 */
pre {
	background-color: bs-lightest($bs-color-gray);
	border: 1px solid bs-lighter($bs-color-gray);
	border-radius: $bs-border-radius;
	padding: $bs-font-size;

	code {
		background-color: transparent;
		border: none;
		color: $bs-color-text;
		font-size: 100%;
		padding: 0;
	}
}

/**
 * label
 */
label {
	cursor: pointer;
}

/**
 * WAI-ARIA
 */
[aria-hidden="true"] {
	display: none;
}
