* {
	&, &:before, &:after {
		box-sizing: border-box;
	}
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: $bs-color-text;
	font-family: $bs-font-family;
	@include bs-font-size( $bs-font-size );
	@include bs-line-height( $bs-font-size );
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input, textarea, keygen, select, button {
	font-family: $bs-font-family;
}

/**
 * image
 */
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

/**
 * margin
 */
p, ul, ol, dl, table, pre, blockquote {
	margin-top: 0;
	margin-bottom: $bs-base-line-height;
}

/**
 * heading
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	@include bs-font-size( $bs-font-size * 3 );
	@include bs-line-height( $bs-font-size * 3 );
	margin-top: 0;
	margin-bottom: $bs-base-line-height * 2;
}

h2 {
	@include bs-font-size( $bs-font-size * 2.5 );
	@include bs-line-height( $bs-font-size * 2.5 );
	margin-top: $bs-base-line-height * 2;
	margin-bottom: $bs-base-line-height;
}

h3 {
	@include bs-font-size( $bs-font-size * 2 );
	@include bs-line-height( $bs-font-size * 2 );
	margin-top: $bs-base-line-height * 2;
	margin-bottom: $bs-base-line-height;
}

h4 {
	@include bs-font-size( $bs-font-size * 1.5 );
	@include bs-line-height( $bs-font-size * 1.5 );
	margin-top: $bs-base-line-height * 2;
	margin-bottom: $bs-base-line-height;
}

h5 {
	@include bs-font-size( $bs-font-size );
	margin-top: $bs-base-line-height;
	margin-bottom: $bs-font-size * .5;
}

h6 {
	@include bs-font-size( $bs-font-size );
	margin-top: $bs-base-line-height;
	margin-bottom: $bs-font-size * .5;
}

/**
 * Lists
 */
ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
}

/**
 * blockquote
 */
blockquote {
	border-left: ($bs-font-size / 2) solid bs-lighter( $bs-color-gray );
	margin-left: 0;
	padding: $bs-font-size 0 $bs-font-size $bs-font-size;

	:last-child {
		margin-bottom: 0;
	}

	footer {
		color: bs-darker( $bs-color-gray );
		font-size: 90%;
	}
}

/**
 * code
 */
code {
	background-color: lighten( $bs-color-red, 34% );
	border-radius: $bs-border-radius-m;
	color: bs-dark( $bs-color-red );
	padding: 2px 4px;
}

/**
 * pre
 */
pre {
	background-color: bs-lightest( $bs-color-gray );
	border: 1px solid bs-lighter( $bs-color-gray );
	border-radius: $bs-border-radius-m;
	padding: $bs-font-size;

	code {
		background-color: transparent;
		border: none;
		color: $bs-color-text;
		padding: 0;
	}
}

/**
 * WAI-ARIA
 */
[aria-hidden="true"] {
	display: none;
}
