//
// Alert component
//
// .c-alert {
//    @include bs-c-alert();
// }
//
// <alert class="c-alert" role="alert">
//     ...
// </alert>
//

$bs-c-alert-border-radius: $_border-radius !default;
$bs-c-alert-border: 1px solid _light($_color-gray) !default;
$bs-c-alert-padding: $_base-font-size !default;

@mixin bs-c-alert() {
  background-color: #fff;
  border-radius: $bs-c-alert-border-radius;
  border: $bs-c-alert-border;
  display: block;
  padding: $bs-c-alert-padding;
}
