<div class="u-content">
  <div>
    <h2>Categories</h2>
    <%- helper.renderCollectionTree('category') %>
  </div>

  <div>
    <h2>Tags</h2>
    <%- helper.renderCollectionTree('tag') %>
  </div>
</div>
