$bs-screen-sm-min: 0 !default;
$bs-screen-md-min: 640px !default;
$bs-screen-lg-min: 1024px !default;
$bs-screen-sm-max: ($bs-screen-md-min - 1);
$bs-screen-md-max: ($bs-screen-lg-min - 1);
$bs-sizes: (
	sm: $bs-screen-sm-min,
	md: $bs-screen-md-min,
	lg: $bs-screen-lg-min
);
