/**
 * Default text color
 * @type  hex
 */
$bs-color-text : #333 !default;

/**
 * Default black color
 * @type  hex
 */
$bs-color-black: #111 !default;

/**
 * Default gray color
 * @type  hex
 */
$bs-color-gray : #bbb !default;

/**
 * Default red color
 * @type  hex
 */
$bs-color-red : #e74c3c !default;
