/**
 * Normal size column margin
 * @type  length
 */
$bs-col-margin: $bs-base-line-height !default;

/**
 * Small size column margin
 * @type  length
 */
$bs-col-margin-s: ($bs-base-line-height / 2) !default;

/**
 * Large size column margin
 * @type  length
 */
$bs-col-margin-l: ($bs-base-line-height * 2) !default;
