$bs-font-size-xs: 1.2rem !default;
$bs-font-size-sm: 1.4rem !default;
$bs-font-size-md: 1.6rem !default;
$bs-font-size-lg: 1.8rem !default;

$bs-line-height: 1.5 !default;

$bs-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
