$bs-font-size: 1.6rem !default;
$bs-between-lines: .4rem !default;
$bs-base-line-height: ($bs-font-size + $bs-between-lines * 2) !default;

$bs-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
