/**
 * Default font size
 * @type  rem
 */
$bs-font-size: 1.6rem !default;

/**
 * Between the character and line of line-height
 * @type  rem
 */
$bs-between-lines: .4rem !default;

/**
 * Default line height
 * @type  rem
 */
$bs-base-line-height: ($bs-font-size + $bs-between-lines * 2) !default;

/**
 * Margin coefficient
 * @type  int
 */
$bs-margin-coefficient: 1 !default;

/**
 * Default font family
 * @type  string
 */
$bs-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
