/**
 * Bounce vertical
 *
 * @param   length             $px        bounce size
 * @param   second|milisecond  $delay: 0  animate time
 */
@mixin bs-bounce-vertical($px, $delay: 0) {
	position: relative;
	animation: bs-bounce-vertical-#{$px} $delay;

	@keyframes bs-bounce-vertical-#{$px} {
		0%   { top: ($px * -1); }
		25%  { top: $px; }
		50%  { top: ($px / 2 * -1); }
		75%  { top: ($px / 2); }
		100% { top: 0; }
	}
}

/**
 * Shake vertical
 */
@mixin bs-shake-vertical() {
	@include bs-bounce-vertical(4px, .5s);
}

/**
 * Vibrate vertical
 */
@mixin bs-vibrate-vertical() {
	@include bs-bounce-vertical(2px, .2s);
}

/**
 * Bounce horizontal
 *
 * @param   length             $px        bounce size
 * @param   second|milisecond  $delay: 0  animate time
 */
@mixin bs-bounce-horizontal($px, $delay: 0) {
	position: relative;
	animation: bs-bounce-horizontal-#{$px} $delay;

	@keyframes bs-bounce-horizontal-#{$px} {
		0%   { left: ($px * -1); }
		25%  { left: $px; }
		50%  { left: ($px / 2 * -1); }
		75%  { left: ($px / 2); }
		100% { left: 0; }
	}
}

/**
 * Shake horizontal
 */
@mixin bs-shake-horizontal() {
	@include bs-bounce-horizontal(4px, .5s);
}

/**
 * Vibrate horizontal
 */
@mixin bs-vibrate-horizontal() {
	@include bs-bounce-horizontal(2px, .2s);
}

/**
 * Bounce scale
 *
 * @param   float              $px        bounce size
 * @param   second|milisecond  $delay: 0  animate time
 */
@mixin bs-bounce-scale($float, $delay: 0) {
	$suffix: bs-strip-unit(percentage($float));
	animation: bs-bounce-scale-#{$suffix} $delay ease-out;
	$scale: ($float - 1);

	@keyframes bs-bounce-scale-#{$suffix} {
		0%   { transform: scale(1); }
		25%  { transform: scale($float); }
		50%  { transform: scale(1); }
		75%  { transform: scale((1 + ($float - 1) / 2)); }
		100% { transform: scale(1); }
	}
}

/**
 * Shake scale
 */
@mixin bs-shake-scale() {
	@include bs-bounce-scale(1.2, .5s);
}

/**
 * Vibrate scale
 */
@mixin bs-vibrate-scale() {
	@include bs-bounce-scale(1.1, .2s);
}
