//
// Background image cover + centering
//
@mixin bs-background-image-cover() {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

//
// Background image fixed
//
@mixin bs-background-image-fixed() {
  background-attachment: fixed;
}
