/**
 * Clearfix helper
 *
 * .clerfix {
 *     @include bs-u-clearfix();
 * }
 *
 * <div class="clearfix">
 *     <img style="float: right" />
 *     ....
 * </div>
 */
@mixin bs-clearfix() {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}
