//
// Ghost style
//
// .c-btn-ghost {
//   @include bs-c-btn();
//   @include bs-ghost();
// }
//
// <a class="c-btn-ghost" role="button">btn</a>
//
@mixin bs-ghost() {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
