//
// Overlay
//
// @param  hex  $hex
//
@mixin bs-overlay($hex) {
	position: relative;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $hex;
	}
}
