//
// Retrun padding
//
// @param  int  $coefficient-1
// @param  int  $coefficient-1
// @param  int  $coefficient-1
// @param  int  $coefficient-1
//
@mixin bs-padding($coefficient-1, $coefficient-2: null, $coefficient-3: null, $coefficient-4: null) {
  @if ($coefficient-2 == null and $coefficient-3 == null and $coefficient-4 == null) {
    $padding: bs-margin($bs-base-line-height, $coefficient-1, $bs-margin-coefficient);
    padding: $padding;
  } @elseif ($coefficient-3 == null and $coefficient-4 == null) {
    $padding-vertical  : bs-margin($bs-base-line-height, $coefficient-1, $bs-margin-coefficient);
    $padding-horizontal: bs-margin($bs-base-line-height, $coefficient-2, $bs-margin-coefficient);
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
    padding-right: $padding-horizontal;
    padding-left: $padding-horizontal;
  } @elseif ($coefficient-4 == null) {
    $padding-top       : bs-margin($bs-base-line-height, $coefficient-1, $bs-margin-coefficient);
    $padding-horizontal: bs-margin($bs-base-line-height, $coefficient-2, $bs-margin-coefficient);
    $padding-bottom    : bs-margin($bs-base-line-height, $coefficient-3, $bs-margin-coefficient);
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-right: $padding-horizontal;
    padding-left: $padding-horizontal;
  } @else {
    $padding-top   : bs-margin($bs-base-line-height, $coefficient-1, $bs-margin-coefficient);
    $padding-right : bs-margin($bs-base-line-height, $coefficient-2, $bs-margin-coefficient);
    $padding-bottom: bs-margin($bs-base-line-height, $coefficient-3, $bs-margin-coefficient);
    $padding-left  : bs-margin($bs-base-line-height, $coefficient-4, $bs-margin-coefficient);
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-right: $padding-right;
    padding-left: $padding-left;
  }
}

//
// Retrun padding-top
//
// @param  int  $coefficient
//
@mixin bs-padding-top($coefficient) {
  padding-top: bs-margin($bs-base-line-height, $coefficient, $bs-margin-coefficient);
}

//
// Retrun padding-right
//
// @param  int  $coefficient
//
@mixin bs-padding-right($coefficient) {
  padding-right: bs-margin($bs-base-line-height, $coefficient, $bs-margin-coefficient);
}

//
// Retrun padding-bottom
//
// @param  int  $coefficient
//
@mixin bs-padding-bottom($coefficient) {
  padding-bottom: bs-margin($bs-base-line-height, $coefficient, $bs-margin-coefficient);
}

//
// Retrun padding-left
//
// @param  int  $coefficient
//
@mixin bs-padding-left($coefficient) {
  padding-left: bs-margin($bs-base-line-height, $coefficient, $bs-margin-coefficient);
}
