//
// Return px and rem font-sizes
//
// @param  rem  $rem
//
@mixin bs-font-size($rem) {
  font-size: bs-rem2px($rem);
  font-size: $rem;
}

//
// Return line height ( px ) for vertical rhythum
//
// @param   px   $value
// @param   int  $coefficient
// @return  int
//
@function bs-vertical-rhythm($value, $coefficient: 1) {
  $between-lines-px   : bs-strip-unit(bs-rem2px($bs-between-lines));
  $base-line-height-px: bs-strip-unit(bs-rem2px($bs-base-line-height));
  $font-size-px       : bs-strip-unit(bs-rem2px($bs-font-size));
  $value-px           : bs-strip-unit($value);

  $line-height-px: $value-px + ($between-lines-px * $coefficient);

  @if ($line-height-px < $value-px + ($between-lines-px * 2)) {
    @return bs-vertical-rhythm($value-px, ($coefficient + 1));
  } @else {
    @if ($value-px % $font-size-px == 0 and $value-px > $font-size-px) {
      @return $line-height-px - ($between-lines-px / 2);
    }
    @return $line-height-px;
  }
}

//
// Return line-height for vertical rhythum
//
// @param  rem  $rem  font size
//
@mixin bs-line-height($rem) {
  $px: bs-rem2px($rem);
  line-height: bs-vertical-rhythm(bs-strip-unit($px)) / bs-strip-unit($px);
}

//
// Return px and rem font-sizes and line-height for vertical rhythum
//
// @param  rem  $rem
//
// h1 {
//     @include bs-font-size-line-height(2.4rem);
// }
//
@mixin bs-font-size-line-height($rem) {
  @include bs-font-size($rem);
  @include bs-line-height($rem);
}
