.#{$bs-prefix}c-alert {
	background-color: #fff;
	border-radius: $bs-border-radius-md;
	border: 1px solid bs-lighter($bs-color-gray);
	display: block;
	margin-bottom: $bs-base-line-height;
	padding: $bs-font-size;
}
