.#{$bs-prefix}c-btn {
	background-color: #fff;
	border: 1px solid bs-lighter($bs-color-gray);
	color: $bs-color-text;
	cursor: pointer;
	display: inline-block;
	font-size: $bs-font-size-md;
	line-height: $bs-line-height;
	padding: $bs-margin ($bs-margin * 3);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;

	&--block {
		display: block;
	}

	&--ghost {
		background-color: transparent;
		border: 1px solid #fff;
		color: #fff;
	}
}
