.#{$bs-prefix}c-btn {
	background-color: #fff;
	border: 1px solid bs-lighter($bs-color-gray);
	color: $bs-color-text;
	cursor: pointer;
	display: inline-block;
	@include bs-font-size( $bs-font-size );
	line-height: $bs-base-line-height;
	padding: ($bs-font-size / 2) ($bs-font-size * 2);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;

	&--block {
		display: block;
	}

	&--ghost {
		background-color: transparent;
		border: 1px solid #fff;
		color: #fff;
	}
}
