/**
 * base form control
 */
.#{$bs-prefix}c-form-control {
	background-color: #fff;
	border: 1px solid $bs-color-gray;
	border-radius: $bs-border-radius-l;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	padding: ($bs-base-line-height / 3) ($bs-base-line-height / 2);

	&[disabled] {
		background-color: bs-lighter( $bs-color-gray );
		cursor: not-allowed;
	}

	&[readonly] {
		background-color: bs-lighter( $bs-color-gray );
	}
}

textarea.#{$bs-prefix}c-form-control {
	height: auto;
	width: 100%;
}

/**
 * checkbox, radio
 */
.#{$bs-prefix}c-checkbox, .#{$bs-prefix}c-radio {
	display: inline-block;

	+ .#{$bs-prefix}c-checkbox, + .#{$bs-prefix}c-radio {
		margin-left: $bs-font-size / 2;
	}

	&--block {
		display: block;

		+ .#{$bs-prefix}c-checkbox--block, + .#{$bs-prefix}c-radio--block {
			margin-top: $bs-font-size / 2;
			margin-left: 0;
		}
	}

	[type="checkbox"], [type="radio"] {
		margin-right: $bs-font-size / 2;
	}
}
label.#{$bs-prefix}c-checkbox, label.#{$bs-prefix}c-radio,
.#{$bs-prefix}c-checkbox label, .#{$bs-prefix}c-radio label {
	cursor: pointer;
}

/**
 * input group
 */
.#{$bs-prefix}c-input-group {
	border-radius: $bs-border-radius-l;
	display: flex;

	* {
		height: auto;
	}

	:first-child {
		border-radius: $bs-border-radius-l 0 0 $bs-border-radius-l;
	}

	:last-child {
		border-radius: 0 $bs-border-radius-l $bs-border-radius-l 0;
	}

	&__addon {
		background-color: #eee;
		border: 1px solid $bs-color-gray;
		color: bs-light( $bs-color-text );
		padding: $bs-font-size / 2;
	}

	&__field {
		border-radius: 0;
		flex: 1;

		&:not(:last-child) {
			border-right: 0;
		}

		&:not(:first-child) {
			border-left: 0;
		}
	}

	&__btn {
		border-color: $bs-color-gray;
	}
}
