.#{$bs-prefix}c-container, .#{$bs-prefix}c-container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-right: $bs-margin * 2;
	padding-left: $bs-margin * 2;
	overflow: hidden;
}

.#{$bs-prefix}c-container {
	@include bs-bp-min( $bs-screen-lg-min ) {
		max-width: $bs-max-width;
	}
}

/**
 * flex container
 */
.#{$bs-prefix}c-row {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;

	&--auto {
		> .#{$bs-prefix}c-row__col {
			flex: auto;
		}
	}

	@each $bs-size, $bs-screen-min in $bs-sizes {
		@include bs-bp-min( $bs-screen-min ) {
			$prefix: bs-bp-prefix( $bs-size );

			&#{$prefix}-row {
				flex-direction: row;
			}

			&#{$prefix}-column {
				flex-direction: column;
			}

			&#{$prefix}-left {
				justify-content: flex-start;
			}

			&#{$prefix}-right {
				justify-content: flex-end;
			}

			&#{$prefix}-center {
				justify-content: center;
			}

			&#{$prefix}-between {
				justify-content: space-between;
			}

			&#{$prefix}-around {
				justify-content: space-around;
			}

			&#{$prefix}-top {
				align-items: flex-start;
			}

			&#{$prefix}-bottom {
				align-items: flex-end;
			}

			&#{$prefix}-middle {
				align-items: center;
			}

			&#{$prefix}-baseline {
				align-items: baseline;
			}

			&#{$prefix}-collapse {
				@include bs-row-gutter(0);

				> .#{$bs-prefix}c-row__col {
					@include bs-col-gutter(0);
				}
			}

			&#{$prefix}-margin {
				@include bs-row-gutter($bs-margin * -2);

				> .#{$bs-prefix}c-row__col {
					@include bs-col-gutter($bs-margin * 2);
				}

				&-s {
					@include bs-row-gutter($bs-margin * -1);

					> .#{$bs-prefix}c-row__col {
						@include bs-col-gutter($bs-margin * 1);
					}
				}

				&-l {
					@include bs-row-gutter($bs-margin * -3);

					> .#{$bs-prefix}c-row__col {
						@include bs-col-gutter($bs-margin * 3);
					}
				}
			}
		}
	}
}

/**
 * flex item
 */
.#{$bs-prefix}c-row__col {
	flex: 1;
	max-width: 100%;
}

@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );

		@for $max_columns from 1 through 12 {
			@for $i from 1 through $max_columns {
				$gcd: bs-gcd( $i, $max_columns );

				.#{$bs-prefix}c-row__col#{$prefix}-#{$i}-#{$max_columns} {
					@if $i != $max_columns {
						@extend %bs-item#{$prefix}-gcd-#{$i / $gcd}-#{$max_columns / $gcd};
					} @else {
						@extend %bs-item#{$prefix}-full;
					}
				}
			}
		}
	}
}

/* multiple placeholder */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );

		@for $max_columns from 2 through 12 {
			@for $i from 1 through $max_columns {
				$gcd: bs-gcd( $i, $max_columns );

				@if $gcd == 1 {
					%bs-item#{$prefix}-gcd-#{$i / $gcd}-#{$max_columns / $gcd} {
						$width: percentage($i / $max_columns);
						flex: 0 1 $width;
						max-width: $width;
					}
				}
			}
		}

		%bs-item#{$prefix}-full {
			$width: 100%;
			flex: 0 1 $width;
			max-width: $width;
		}
	}
}

/**
 * flex item offset
 */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );

		@for $max_columns from 2 through 12 {
			@for $i from 1 through $max_columns - 1 {
				$gcd: bs-gcd( $i, $max_columns );

				.#{$bs-prefix}c-row__col#{$prefix}-offset-#{$i}-#{$max_columns} {
					@extend %bs-item#{$prefix}-offset-gcd-#{$i / $gcd}-#{$max_columns / $gcd};
				}
			}
		}
	}
}

/* multiple placeholder */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );

		@for $max_columns from 2 through 12 {
			@for $i from 1 through $max_columns - 1 {
				$gcd: bs-gcd( $i, $max_columns );

				@if $gcd == 1 {
					%bs-item#{$prefix}-offset-gcd-#{$i / $gcd}-#{$max_columns / $gcd} {
						margin-left: percentage($i / $max_columns);
					}
				}
			}
		}
	}
}

@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );

		.#{$bs-prefix}c-row__col#{$prefix}-offset-0 {
			margin-left: 0;
		}
	}
}

/**
 * flex item utilities
 */
@each $bs-size, $bs-screen-min in $bs-sizes {
	@include bs-bp-min( $bs-screen-min ) {
		$prefix: bs-bp-prefix( $bs-size );

		/**
		 * child element height 100%
		 */
		.#{$bs-prefix}c-row__col#{$prefix}-flex {
			display: flex;

			> * {
				$width: 100%;
				flex: 0 1 $width;
				max-width: $width;
			}
		}
	}
}
