@if (not bs-is-use-mixin-only()) {
  .#{$bs-prefix}c-hero {
    @include bs-c-hero();

    &--full {
      height: 100vh;
    }

    &--cover {
      @include bs-background-image-cover();
    }

    &--overlay {
      @include bs-overlay(rgba(0, 0, 0, .7));
    }

    &--fixed {
      @include bs-bp-lg-only() {
        @include bs-background-image-fixed();
      }
    }

    &__header {
      @include bs-c-hero__header();
    }

    &__content {
      @include bs-c-hero__content();
    }

    &__footer {
      @include bs-c-hero__footer();
    }
  }
}
