@if (not bs-is-use-mixin-only()) {
  .#{$bs-prefix}c-input-group {
    @include bs-c-input-group();

    &__addon {
      @include bs-c-input-group__addon();
    }

    &__field {
      @include bs-c-input-group__field();
    }

    &__control {
      @include bs-c-input-group__control();
    }

    &__btn {
      @include bs-c-input-group__btn();
    }
  }
}
