.#{$bs-prefix}c-media {
	display: flex;

	&--middle {
		align-items: center;
	}

	&__figure {
		margin-right: $bs-base-line-height;

		.#{$bs-prefix}c-media--reverse & {
			margin-right: 0;
			margin-left: $bs-base-line-height;
			order: 1;
		}

		> * {
			vertical-align: top;
			margin-top: 0.4rem;
		}
	}

	&__body {
		flex: 1;

		> .#{$bs-prefix}c-media {
			margin-top: $bs-base-line-height;
		}
	}
}
