//
// Default font size
// @type  rem
//
$bs-font-size: 1.6rem !default;

//
// Heading element font size scale;
// @type  int
//
$bs-h1-font-size-scale: 3   !default;
$bs-h2-font-size-scale: 2.5 !default;
$bs-h3-font-size-scale: 2   !default;
$bs-h4-font-size-scale: 1.5 !default;
$bs-h5-font-size-scale: 1   !default;
$bs-h6-font-size-scale: 1   !default;

//
// Between the character and line of line-height
// @type  rem
//
$bs-between-lines: .4rem !default;

//
// Default line height
// @type  rem
//
$bs-base-line-height: ($bs-font-size + $bs-between-lines * 2) !default;

//
// Margin coefficient
// @type  int
//
$bs-margin-coefficient: 1 !default;

//
// Default font family
// @type  string
//
$bs-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
