//
// Animation time
// @type  second|milisecond
//
$_transition-duration: .1s !default;

//
// Transition function timing
// @type  string
// @see  http://www.w3schools.com/cssref/css3_pr_transition-timing-function.asp
//
$_transition-function-timing: ease-out !default;
