//
// Default text color
// @type  hex
//
$_color-text: #333 !default;

//
// Default black color
// @type  hex
//
$_color-black: #111 !default;

//
// Default gray color
// @type  hex
//
$_color-gray: #999 !default;

//
// Default red color
// @type  hex
//
$_color-red: #e74c3c !default;
