/*
---
name: $_container-margin
category:
  - core/abstract
  - core/abstract/container
  - core/variable/container
tag:
  - deprecated
---
Container side margin

### scss
```scss
//
// @var  length
//

$_container-margin: var(--_base-line-height);
```
*/

$_container-margin: calc(var(--_base-line-height) / 2) !default;

/*
---
name: $_container-max-width
category:
  - core/abstract
  - core/abstract/container
  - core/variable/container
tag:
  - deprecated
---
Container max width

### scss
```scss
//
// @var  length
//

$_container-max-width: 1280px;
```
*/

$_container-max-width: 1280px !default;
