

/*
---
name: $_base-font-size-px
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
Default font size

* If html is `font-size: 62.5%`, set `10px`
* If you change $_base-font-size-px, you must also change $_base-font-size.

### scss
```scss
$_base-font-size-px: 16px;
```
*/

$_base-font-size-px: 16px !default;

/*
---
name: $_half-leading
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
Between the character and line of line-height

### scss
```scss
$_half-leading: .4;
```
*/

$_between-lines: _px2rem($_base-font-size-px) / 3 !default;
$_half-leading: _strip-unit($_between-lines) !default;

/*
---
name: $_base-line-height
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
Default line height rem

### scss
```scss
$_base-line-height: calc(1rem + var(--_half-leading) * 2rem)
```
*/

$_base-line-height: 1 + $_half-leading * 2rem;

/*
---
name: $_margin-coefficient
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
Margin coefficient

### scss
```scss
$_margin-coefficient: 1;
```
*/

$_margin-coefficient: 1 !default;

/*
---
name: $_h1-margin-top
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h1` margin top coefficient

### scss
```scss
$_h1-margin-top: 0;
```
*/

$_h1-margin-top: 0 !default;

/*
---
name: $_h1-margin-bottom
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h1` margin bottom coefficient

### scss
```scss
$_h1-margin-bottom: 1;
```
*/

$_h1-margin-bottom: 1 !default;

/*
---
name: $_h2-margin-top
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h2` margin top coefficient

### scss
```scss
$_h2-margin-top: 2;
```
*/

$_h2-margin-top: 2 !default;

/*
---
name: $_h2-margin-bottom
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h2` margin bottom coefficient

### scss
```scss
$_h2-margin-bottom: 1;
```
*/

$_h2-margin-bottom: 1 !default;

/*
---
name: $_h3-margin-top
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h3` margin top coefficient

### scss
```scss
$_h3-margin-top: 1.5;
```
*/

$_h3-margin-top: 1.5 !default;

/*
---
name: $_h3-margin-bottom
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h3` margin bottom coefficient

### scss
```scss
$_h3-margin-bottom: 1;
```
*/

$_h3-margin-bottom: 1 !default;

/*
---
name: $_h4-margin-top
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h4` margin top coefficient

### scss
```scss
$_h4-margin-top: 1.25;
```
*/

$_h4-margin-top: 1.25 !default;

/*
---
name: $_h4-margin-bottom
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h4` margin bottom coefficient

### scss
```scss
$_h4-margin-bottom: 1;
```
*/

$_h4-margin-bottom: 1 !default;

/*
---
name: $_h5-margin-top
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h5` margin top coefficient

### scss
```scss
$_h5-margin-top: 1;
```
*/

$_h5-margin-top: 1 !default;

/*
---
name: $_h5-margin-bottom
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h5` margin bottom coefficient

### scss
```scss
$_h5-margin-bottom: .5;
```
*/

$_h5-margin-bottom: .5 !default;

/*
---
name: $_h6-margin-top
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h6` margin top coefficient

### scss
```scss
$_h6-margin-top: 1;
```
*/

$_h6-margin-top: 1 !default;

/*
---
name: $_h6-margin-bottom
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
`h6` margin bottom coefficient

### scss
```scss
$_h6-margin-bottom: .5;
```
*/

$_h6-margin-bottom: .5 !default;

/*
---
name: $_font-family
category:
  - core/variable
  - core/variable/typography
tag:
  - deprecated
---
Default font family

### scss
```scss
$_font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
```
*/

$_font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

/*
---
name: $_border-radius
category:
  - core/variable
tag:
  - deprecated
---
Border radius

### scss
```scss
$_border-radius: 3px;
```
*/

$_border-radius: 3px !default;

/*
---
name: $_color-text
category:
  - core/variable
  - core/variable/color
---
Default text color

### scss
```scss
$_color-text: #333;
```
*/

$_color-text: #333 !default;

/*
---
name: $_color-black
category:
  - core/variable
  - core/variable/color
---
Default black color

### scss
```scss
$_color-black: #111;
```
*/

$_color-black: #111 !default;

/*
---
name: $_color-white
category:
  - core/variable
  - core/variable/color
---
Default white color

### scss
```scss
$_color-white: #fff;
```
*/

$_color-white: #fff !default;

/*
---
name: $_color-gray
category:
  - core/variable
  - core/variable/color
tag:
  - deprecated
---
Default gray color

### scss
```scss
$_color-gray: #999;
```
*/

$_color-gray: #999 !default;

/*
---
name: $_color-red
category:
  - core/variable
  - core/variable/color
tag:
  - deprecated
---
Default red color

### scss
```scss
$_color-red: #e74c3c;
```
*/

$_color-red: #e74c3c !default;

/*
---
name: $_container-margin
category:
  - core/abstract
  - core/abstract/container
  - core/variable/container
tag:
  - deprecated
---
Container side margin

### scss
```scss
//
// @var  length
//

$_container-margin: $_base-line-height;
```
*/

$_container-margin: $_base-line-height / 2 !default;

/*
---
name: $_container-max-width
category:
  - core/abstract
  - core/abstract/container
  - core/variable/container
tag:
  - deprecated
---
Container max width

### scss
```scss
//
// @var  length
//

$_container-max-width: 1280px;
```
*/

$_container-max-width: 1280px !default;

/*
---
name: $_page-effect-z-index
category:
  - core/abstract
  - core/variable/page-effect
tag:
  - deprecated
---
`z-index` of page effect

### scss
```scss
$_page-effect-z-index: 1000000;
```
*/

$_page-effect-z-index: 1000000 !default;

/*
---
name: $_transition-duration
category:
  - core/variable
tag:
  - deprecated
---
Animation time

### scss
```scss
$_transition-duration: .1s;
```
*/

$_transition-duration: .2s !default;

/*
---
name: $_transition-function-timing
category:
  - core/variable
tag:
  - deprecated
---
Transition function timing

### scss
```scss
//
// @link  http://www.w3schools.com/cssref/css3_pr_transition-timing-function.asp
//

$_transition-function-timing: ease-out;
```
*/

$_transition-function-timing: ease-out !default;

/*
---
name: $_transition-delay
category:
  - core/variable
tag:
  - deprecated
---
Transition function timing

### scss
```scss
$_transition-delay: 1s;
```
*/

$_transition-delay: 0s !default;
