/*
---
name: $_font-path
category:
  - core/variable
---
Basis font relative path

### scss
```scss
$_font-path: '../font';
```
*/

$_font-path: '../font' !default;

@if ('string' == type-of($_font-path)) {
  @font-face {
    font-family: 'basis';
    src: url($_font-path + '/basis.eot');
    src: url($_font-path + '/basis.eot#iefix') format('embedded-opentype'),
         url($_font-path + '/basis.ttf') format('truetype'),
         url($_font-path + '/basis.woff') format('woff'),
         url($_font-path + '/basis.svg#basis') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
