/*
---
name: $_base-font-size-px
category:
  - core/variable
  - core/variable/$_base-font-size-px
---
Default font size

If html is font-size: 62.5%, set 10px

```scss
$_base-font-size-px: 16px;
```
*/

$_base-font-size-px: 16px !default;

/*
---
name: $_base-font-size
category:
  - core/variable
  - core/variable/$_base-font-size
---
Default font size (rem)

`$_base-font-size-px` be not able to change. If you want to change base font size, overwrite `$_base-font-size-px`.

```scss
$_base-font-size-px: 16px;
```
*/

$_base-font-size: 1rem;

/*
---
name: $_between-lines
category:
  - core/variable
  - core/variable/$_between-lines
---
Between the character and line of line-height

```scss
$_between-lines: ($_base-font-size / 4);
```
*/

$_between-lines: ($_base-font-size / 4) !default;

/*
---
name: $_base-line-height
category:
  - core/variable
  - core/variable/$_base-line-height
---
Default line height

```scss
$_base-line-height: ($_base-font-size + $_between-lines * 2);
```
*/

$_base-line-height: ($_base-font-size + $_between-lines * 2) !default;

/*
---
name: $_margin-coefficient
category:
  - core/variable
  - core/variable/$_margin-coefficient
---
Margin coefficient

```scss
$_margin-coefficient: 1;
```
*/

$_margin-coefficient: 1 !default;

/*
---
name: $_min-columns
category:
  - core/variable
  - core/variable/$_min-columns
---
The minimum number of columns

```scss
$_min-columns: 1;
```
*/

$_min-columns: 1 !default;

/*
---
name: $_max-columns
category:
  - core/variable
  - core/variable/$_max-columns
---
The maximum number of columns

```scss
$_max-columns: 12;
```
*/

$_max-columns: 12 !default;

/*
---
name: $_sizes
category:
  - core/variable
  - core/variable/$_sizes
---
Array of breakpoints

```scss
$_sizes: (
  'sm': 0,
  'md': (_px2rem(640px) / _px2rem($_base-font-size-px) * 1em),
  'lg': (_px2rem(1024px) / _px2rem($_base-font-size-px) * 1em)
);
```
*/

$_sizes: (
  'sm': 0,
  'md': (_px2rem(640px) / _px2rem($_base-font-size-px) * 1em),
  'lg': (_px2rem(1024px) / _px2rem($_base-font-size-px) * 1em)
) !default;
