/**
 * Font size scale based on the harmonic sequence.
 */
$_font-size-scale: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size-level)));

/**
 * Font size formula.
 */
$_font-size: calc(#{ $_font-size-scale } * 1rem);

/**
 * Line height formula.
 */
$_line-height: clamp(
  1,
  calc(var(--_line-height-slope) * #{ $_font-size-scale } + 1 + 2 * var(--_half-leading) + -1 * var(--_line-height-slope)),
  calc(2 * var(--_half-leading) + 1)
);
