//
// HTML element margin coefficient;
// @type  int
//
$_base-margin-bottom: 1 !default;

//
// Heading element font size scale;
// @type  int
//
$_h1-font-size-scale: 2 !default;
$_h2-font-size-scale: 2 !default;
$_h3-font-size-scale: 1.5 !default;
$_h4-font-size-scale: 1.25 !default;
$_h5-font-size-scale: 1 !default;
$_h6-font-size-scale: 1 !default;

//
// Heading element margin coefficient;
// @type  int
//
$_h1-margin-top   : 0 !default;
$_h1-margin-bottom: $_base-margin-bottom !default;
$_h2-margin-top   : $_base-margin-bottom * 2 !default;
$_h2-margin-bottom: $_base-margin-bottom !default;
$_h3-margin-top   : $_base-margin-bottom * 1.5 !default;
$_h3-margin-bottom: $_base-margin-bottom !default;
$_h4-margin-top   : $_base-margin-bottom * 1.25 !default;
$_h4-margin-bottom: $_base-margin-bottom !default;
$_h5-margin-top   : $_base-margin-bottom !default;
$_h5-margin-bottom: $_base-margin-bottom * .5 !default;
$_h6-margin-top   : $_base-margin-bottom !default;
$_h6-margin-bottom: $_base-margin-bottom * .5 !default;

//
// Default font family
// @type  string
//
$_font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
