.bs-btn {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid $bs-color-gray;
	color: $bs-color-text;
	cursor: pointer;
	display: inline-block;
	font-size: $bs-font-size-md;
	padding: $bs-gutter ($bs-gutter * 2);
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	transition: .3s;
	
	@include bs-hover() {
		background-color: bs-lighter( $bs-color-gray );
	}
	
	&--primary, &--info, &--success, &--warning, &--danger {
		border: none;
		color: #fff;
	}
	
	@each $bs-color, $bs-color-code in $bs-colors {
		&--#{$bs-color} {
			background-color: $bs-color-code;
			
			@include bs-hover() {
				background-color: bs-light( $bs-color-code );
			}
		}
	}
}
