
@mixin bs-row-gutter( $gutter ) {
	margin-right: ($gutter * -1);
	margin-left: ($gutter * -1);
	margin-bottom: ($gutter * 2 * -1);
}

@mixin bs-col-gutter( $gutter ) {
	padding-right: $gutter;
	padding-left: $gutter;
	margin-bottom: $gutter * 2;
}
