/**
 * Adding gutter for the row
 *
 * @param  length  $gutter  gutter size
 */
@mixin bs-row-gutter( $gutter ) {
	margin-right: round($gutter / 2 * -1);
	margin-left: round($gutter / 2 * -1);
	margin-bottom: ($gutter * -1);
}

/**
 * Adding gutter for the column
 *
 * @param  length  $gutter  gutter size
 */
@mixin bs-col-gutter( $gutter ) {
	padding-right: round($gutter / 2);
	padding-left: round($gutter / 2);
	margin-bottom: $gutter;
}
