/** ==================================================
 * foundation
 * ================================================ */
pre {
	background-color: #232323;
	border: none;
}

/** ==================================================
 * layout
 * ================================================ */
/**
 * contents
 */
#contents {
	overflow: hidden; /* for anchor link bug */
}

/**
 * main, sub
 */
.l-main, .l-sub {
	padding-top: 40px;
}
.l-sub {
	position: relative;
}
@media ( min-width: 640px ) {
	.l-sub {
		border-right: 1px solid #eee;
	}
}

/**
 * footer
 */
.l-footer {
	text-align: center;
	color: #666;
	background-color: #222;
	margin-top: 24px;
	padding: 24px 0;
}
.l-footer a {
	color: #666;
}

/** ==================================================
 * component
 * ================================================ */
/**
 * c-hero
 */
.c-hero {
	background-color: #00c3bb;
	color: #fff;
	height: 500px;
	max-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Helvetica neue", sans-serif;
}
.c-hero__title, .c-hero__lead {
	font-weight: normal;
}
.c-hero__title {
	font-size: 5rem;
	margin: 0 0 20px;
}
.c-hero__lead {
	font-size: 2.4rem;
	margin: 0 0 40px;
}
.c-hero ._c-btn {
	transition: all .25s;
}
.c-hero ._c-btn:hover,
.c-hero ._c-btn:active,
.c-hero ._c-btn:focus {
	background-color: #fff;
	color: #00c3bb;
}

/**
 * _c-btn
 */
._c-btn {
	text-decoration: none;
}

/**
 * c-section
 */
.c-section {
	margin-bottom: 16px;
}
.c-section__h1 {
	border-bottom: 2px solid #00c3bb;
	margin: 40px 0;
	padding-bottom: 8px;
}
.c-section__h2 {
	border-bottom: 1px solid #ddd;
	margin: 40px 0;
	padding-bottom: 8px;
}
.c-section__h3 {
	margin: 40px 0;
}

/**
 * _c-media
 */
._c-media__figure .dummy-image {
	background-color: #333;
	height: 80px;
	width: 100px;
}

/**
 * table
 */
.table {
	width: 100%;
}
.table th, .table td {
	padding: 8px;
}
.table--bordered {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.table--bordered th, .table--bordered td {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

/** ==================================================
 * project
 * ================================================ */
/**
 * p-show-grid
 */
.p-show-grid .p-show-grid__item {
	background-color: #00c3bb;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
	padding: 16px;
}
.p-show-grid .p-show-grid__item--cloudy {
	background-color: #ddd;
	color: #333;
}

/**
 * p-local-nav
 */
.p-local-nav {
	border-top: 1px solid #eee;
	list-style: none;
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
}
.p-local-nav__item {
	border-bottom: 1px solid #eee;
	margin: 0;
	padding: 0;
}
.p-local-nav__item > a {
	display: block;
	padding: 8px;
	color: #00c3bb;
	text-decoration: none;
	transition: all .25s;
}
.p-local-nav__item > a:hover, .p-local-nav__item > a:active, .p-local-nav__item > a:focus {
	background-color: #00c3bb;
	color: #fff;
}
.p-local-nav__item > a > .fa {
	margin-right: 8px;
}

/**
 * p-scroll-top
 */
.p-scroll-top {
	position: fixed;
	bottom: 16px;
	right: 16px;
}
.p-scroll-top > a {
	display: block;
	height: 48px;
	width: 48px;
	overflow: hidden;
	background-color: rgba( 0, 0, 0, .8 );
	color: #fff;
	position: relative;
}
.p-scroll-top > a > .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

/** ==================================================
 * utility
 * ================================================ */
/**
 * utility
 */
.u-text-center {
	text-align: center !important;
}

/**
 * position fixed
 */
.fixed {
	position: fixed;
	top: 0;
}

/** ==================================================
 * irregular
 * ================================================ */
#typograpy .c-section__h1 {
	margin-top: 0;
}
