@use 'sass:color';

/*
---
name: light()
category:
  - core/function
  - core/function/color
---
A little brighten

### scss
```scss
//
// @param   hex  $hex
// @return  hex
//

@use "node_modules/sass-basis/src/css/core";

color: core.light(#000);
```
*/

@function light($hex) {
  @return color.adjust($hex, $lightness: 20%);
}

/*
---
name: lighter()
category:
  - core/function
  - core/function/color
---
Brighten

### scss
```scss
//
// @param   hex  $hex
// @return  hex
//

@use "node_modules/sass-basis/src/css/core";

color: core.lighter(#000);
```
*/

@function lighter($hex) {
  @return color.adjust($hex, $lightness: 33.5%);
}

/*
---
name: lightest()
category:
  - core/function
  - core/function/color
---
To very brighten

### scss
```scss
//
// @param   hex  $hex
// @return  hex
//


@use "node_modules/sass-basis/src/css/core";

color: core.lightest(#000);
```
*/

@function lightest($hex) {
  @return color.adjust($hex, $lightness: 37%);
}

/*
---
name: dark()
category:
  - core/function
  - core/function/color
---
A little darken

### scss
```scss
//
// @param   hex  $hex
// @return  hex
//

@use "node_modules/sass-basis/src/css/core";

color: core.dark(#fff);
```
*/

@function dark($hex) {
  @return color.adjust($hex, $lightness: -20%);
}

/*
---
name: darker()
category:
  - core/function
  - core/function/color
---
Darken

### scss
```scss
//
// @param   hex  $hex
// @return  hex
//

@use "node_modules/sass-basis/src/css/core";

color: core.darker(#fff);
```
*/

@function darker($hex) {
  @return color.adjust($hex, $lightness: -33.5%);
}

/*
---
name: darkest()
category:
  - core/function
  - core/function/color
---
To very darken

### scss
```scss
//
// @param   hex  $hex
// @return  hex
//

@use "node_modules/sass-basis/src/css/core";

color: core.darkest(#fff);
```
*/

@function darkest($hex) {
  @return color.adjust($hex, $lightness: -37%);
}
