/*
---
name: _is-number()
category:
  - core/function
  - core/function/_is-number()
---
```scss
//
// Checks for a valid number
//
// @param   mixed  $value
// @return  bool
//

@if (_is-number($value)) {
  z-index: $value;
}
```
*/

@function _is-number($value) {
  @if ('number' == type-of($value) and '' == unit($value)) {
    @return true;
  }

  @return false;
}
