//
// Checks for a valid int
//
// @param   mixed  $value
// @return  bool
//
@function _is-int($value) {
  @if ('number' == type-of($value) and '' == unit($value)) {
    @return true;
  }

  @return false;
}
