//
// Checks for a valid CSS length
//
// @param   mixed  $value
// @return  bool
//
@function _is-length($value) {
  @if ('auto' == $value) {
    @return true;
  }

  @if ('number' == type-of($value)) {
    @if ('' != unit($value) or 0 == $value) {
      @return true;
    }
  }

  @if ('string' == type-of($value)) {
    @if (1 == str-index($value, 'calc')) {
      @return true;
    }
  }

  @return false;
}
