/*
---
name: _is-length()
category:
  - core/function
  - core/function/_is-length()
---
```scss
//
// Checks for a valid CSS length
//
// @param   mixed  $value
// @return  bool
//

@if (_is-length($value)) {
  width: $value;
}
```
*/

@function _is-length($value) {
  @if ('auto' == $value) {
    @return true;
  }

  @if ('number' == type-of($value)) {
    @if ('' != unit($value) or 0 == $value) {
      @return true;
    }
  }

  @if ('string' == type-of($value)) {
    @if (1 == str-index($value, 'calc')) {
      @return true;
    }
  }

  @return false;
}
