//
// Checks for a valid CSS length
//
// @param  mixed  $value
// @return  bool
//
@function _is-length($value) {
  @if ('number' == type-of($value) and ('' != unit($value) or 0 == $value)) {
    @return true;
  }

  @return false;
}
