/*
---
name: _vertical-rhythm()
category:
  - core/function
---
Return line height ( px ) for vertical rhythum

### scss
```scss
//
// @param   px   font-size
// @return  int
//

line-height: (_vertical-rhythm(16px) / 16);
```
*/

@function _vertical-rhythm($font-size) {
  $font-size: _strip-unit($font-size);
  $base-font-size-px: _strip-unit($_base-font-size-px);
  $between-lines: _strip-unit(_rem2px($_between-lines));
  $default-line-height: $font-size + ($between-lines * 2);

  @if ($font-size >= $base-font-size-px) {
    @return $default-line-height;
  } @else {
    $diff: $base-font-size-px - $font-size;
    @return $default-line-height - $diff / 2;
  }
}
