<header id="header" class="l-header" role="banner" data-l="header" data-l-header-type="overlay">
  <div class="c-container">
    <div class="c-row c-row--nowrap c-row--lg-margin c-row--middle">
      <div class="c-row__col c-row__col--auto c-row__col--md-1-2">
        <div class="c-site-branding">
          <h1 class="c-site-branding__title">
            <a href="<%= root %>"><img src="<%= root %>aigis_assets/images/logo.svg" alt="">Basis Styleguide</a>
          </h1>
        </div>
      </div>
      <div class="c-row__col c-row__col--fit c-row__col--md-1-2">
        <div class="u-hidden-lg-up">
          <button id="hamburger-btn" class="c-hamburger-btn u-hidden-lg-up" aria-controls="drawer-nav" aria-expanded="false">
            <span class="c-hamburger-btn__bars">
              <span class="c-hamburger-btn__bar"></span>
              <span class="c-hamburger-btn__bar"></span>
              <span class="c-hamburger-btn__bar"></span>
            </span>
          </button>
        </div>
        <div class="u-hidden u-visible-lg-up">
          <%- include('../_object/_project/_global-nav') %>
        </div>
      </div>
    </div>
  </div>
</header>
