<header id="header" class="sg-l-header" role="banner" data-l="header" data-l-header-type="overlay">
  <div class="sg-c-container">
    <div class="sg-c-row sg-c-row--nowrap sg-c-row--lg-margin sg-c-row--middle">
      <div class="sg-c-row__col sg-c-row__col--auto sg-c-row__col--md-1-2">
        <div class="sg-c-site-branding">
          <h1 class="sg-c-site-branding__title">
            <a href="<%= root %>"><img src="<%= root %>aigis_assets/images/logo.svg" alt="">Basis Styleguide</a>
          </h1>
        </div>
      </div>
      <div class="sg-c-row__col sg-c-row__col--fit sg-c-row__col--md-1-2">
        <div class="sg-u-hidden-lg-up">
          <div id="hamburger-btn" class="sg-c-hamburger-btn u-hidden-lg-up" aria-controls="drawer-nav" aria-expanded="false">
            <div class="sg-c-hamburger-btn__bar"></div>
            <div class="sg-c-hamburger-btn__bar"></div>
            <div class="sg-c-hamburger-btn__bar"></div>
          </div>
        </div>
        <div class="sg-u-hidden sg-u-visible-lg-up">
          <%- include('../_object/_project/_global-nav') %>
        </div>
      </div>
    </div>
  </div>
</header>
