/*!
 * Name: Basis v19.0.1
 * Description: A lightweight responsive Sass/CSS framework based on flexible box.
 * Author: Takashi Kitajima ( inc2734 )
 * Author URL: https://2inc.org
 * GitHub Repository: https://github.com/sass-basis/basis
 * License: MIT
 */

@forward 'core';

@use 'core';

@use 'foundation/settings';
@use 'foundation/base';

@use 'object/component';
@use 'object/utility';
