.l-header {
  z-index: 1;
  background-color: var(--color-primary);
  color: var(--_color-white);
  overflow: hidden;

  a {
    color: inherit;
    text-decoration: none;
  }

  > .c-container {
    position: relative;
  }

  .c-site-branding {
    padding: var(--_padding-1) 0;
  }

  .c-hamburger-btn {
    position: absolute;
    top: 50%;
    right: var(--_s1);
    transform: translateY(-50%);

    &__bar {
      background-color: var(--_color-white);;
    }
  }
}
