// @import '../../../core/core';

@mixin bs-c-checkbox() {
	$bs-c-checkbox-margin: ($bs-font-size / 2) !default;

	display: inline-block;

	&--block {
		display: block;
	}

	[type="checkbox"] {
		margin-right: $bs-c-checkbox-margin;
	}

	label {
		cursor: pointer;
	}
}
