@import '../../../css/basis';

$color-primary: #00DAE6;
$_font-family : "Helvetica Neue", Helvetica, sans-serif;
$_color-text  : #444;
$_half-leading: .4;
$_font-path: '../../font';
$_prefix: '';

@import '../../../css/basis';

@import 'core/mixin/font-basis';

@import 'foundation/foundation';

@import 'layout/contents';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/layout';

@import 'object/component/animate-image';
@import 'object/component/btn';
@import 'object/component/copyright';
@import 'object/component/drawer';
@import 'object/component/dummy-image';
@import 'object/component/entry';
@import 'object/component/fade-image';
@import 'object/component/label';
@import 'object/component/meta';
@import 'object/component/page-header';
@import 'object/component/site-branding';
@import 'object/component/table';

@import 'object/project/footer-nav';
@import 'object/project/global-nav';
@import 'object/project/local-nav';
@import 'object/project/media';
@import 'object/project/scroll-top';
@import 'object/project/show-grid';
@import 'object/project/social-nav';
@import 'object/project/table-of-contents';

.aigis-preview {
  @include _content();
  min-height: 150px;
}

@for $i from 10 through 500 {
  .font-size-#{ $i }px {
    @include _font-size-line-height(_strip-unit($i / $_base-font-size-px));

    position: relative;
    &::before {
      position: absolute;
      bottom: 100%;
      left: 0;
      content: '#{ $i }px';
      display: inline-block;
      background-color: #111;
      color: #fff;
      font-size: 12px;
      padding: .25em .5em;
    }
  }
}

