.#{$_prefix}c-btn {
  @include _transition(all);
  border: none;
  border-radius: 3px;
  @include _padding(.5, 1);

  &--block {
    display: block;
  }

  &--ghost {
    border: 1px solid transparent;
    border-color: $_color-white; // For IE11
    border-color: _var-color-white();
    background-color: transparent;
  }

  &--launch, &--download, &--buy {
    background-color: $color-primary;
    color: $_color-white; // For IE11
    color: _var-color-white();

    @include _hover(lg) {
      opacity: .8;
    }

    .fa {
      margin-right: 8px;
    }
  }

  &--buy {
    background-color: #e1c600;
  }
}
