.#{$_prefix}l-body > .#{$_prefix}c-drawer {
  background-color: $_color-text;
  @include _padding(.5);

  &, a {
    color: #fff;
  }

  a {
    display: block;
    text-decoration: none;
    @include _padding(.25, 0);
  }

  ul {
    @include _list-unstyled();
  }

  li {
    li {
      @include _padding(0, 0, 0, .5);
    }
  }
}
