.#{$_prefix}l-body > .#{$_prefix}c-drawer {
  background-color: var(--_color-text);
  @include _set-padding-level(-1);
  color: var(--_color-white);

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    @include _set-padding-level(-2, 0);
  }

  ul {
    @include _list-unstyled();
  }

  li {
    li {
      @include _set-padding-level(0, 0, 0, -1);
    }
  }
}
