.#{$_prefix}l-main > .#{$_prefix}c-entry {
  .#{$_prefix}c-entry__header {
    @include _margin(0, 0, 1);
  }

  .#{$_prefix}c-entry__title {
    @include _padding(0, 0, .25);
    border-bottom: 1px solid transparent;
    border-bottom-color: _light($_color-gray); // For IE11
    border-bottom-color: _var-light-color-gray();
    @include _padding(0, 0, .25);
  }

  .#{$_prefix}c-entry__content {
    @include _content();

    .aigis-preview + pre {
      @include _margin-top(.5);
    }

    pre + .aigis-preview {
      @include _margin-top(1.5);
    }
  }

  & + .#{$_prefix}c-entry {
    @include _margin-top(2);
  }
}
