.#{$_prefix}c-section {
  @include _content();
  @include _padding(3, 0);

  > .#{$_prefix}c-container {
    @include _content();
  }

  &--bg {
    background-color: #fcfcfc;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  &__title {
    @include _font-size-line-height($_base-font-size * 2);
    @include _margin(0, 0, 2);
    font-weight: normal;
    text-align: center;
  }

  &--border {
    border-bottom: 1px solid _lighter($_color-gray);
    @include _padding(2, 0);

    .c-section__h1 {
      @include _margin(0, 0, 1.5);
      @include _font-size-line-height(2.5rem);
    }

    .c-section__h2 {
      @include _margin(1.5, 0, 1);
      @include _font-size-line-height(2rem);
    }

    .c-section__h3 {
      @include _margin(1.5, 0, 1);
      @include _font-size-line-height(1.5rem);
    }
  }
}
