@if (not bs-is-use-mixin-only()) {
	.#{$bs-prefix}u-animate {
		@include bs-transition-all();

		&-size {
			@include bs-transition-size();
		}

		&-opacity {
			@include bs-transition-opacity();
		}

		&-shake-vertical {
			@include bs-hover() {
				@include bs-shake-vertical();
			}
		}

		&-vibrate-vertical {
			@include bs-hover() {
				@include bs-vibrate-vertical();
			}
		}

		&-shake-horizontal {
			@include bs-hover() {
				@include bs-shake-horizontal();
			}
		}

		&-vibrate-horizontal {
			@include bs-hover() {
				@include bs-vibrate-horizontal();
			}
		}

		&-shake-scale {
			@include bs-hover() {
				@include bs-shake-scale();
			}
		}

		&-vibrate-scale {
			@include bs-hover() {
				@include bs-vibrate-scale();
			}
		}

		&-extend-underline-center {
			position: relative;

			&::after {
				@include bs-extend-underline-center();
			}

			@include bs-hover() {
				&::after {
					width: 100%;
				}
			}
		}
	}
}
