@include bs-bp-sm-only() {
	.#{$bs-prefix}u-hidden-sm {
		display: none !important;
	}
}

@include bs-bp-md-only() {
	.#{$bs-prefix}u-hidden-md {
		display: none !important;
	}
}

@include bs-bp-lg-only() {
	.#{$bs-prefix}u-hidden-lg {
		display: none !important;
	}
}
