@media ( max-width: $bs-screen-sm-max ) {
	.#{$bs-prefix}u-hidden-sm {
		display: none;
	}
}

@media ( min-width: $bs-screen-md-min ) and ( max-width: $bs-screen-md-max ) {
	.#{$bs-prefix}u-hidden-md {
		display: none;
	}
}

@media ( min-width: $bs-screen-lg-min ) {
	.#{$bs-prefix}u-hidden-lg {
		display: none;
	}
}
