@include bs-bp-sm-only() {
	.#{$bs-prefix}u-visible-sm-inline {
		display: inline !important;
	}
	.#{$bs-prefix}u-visible-sm-inline-block {
		display: inline-block !important;
	}
	.#{$bs-prefix}u-visible-sm-block {
		display: block !important;
	}
}

@include bs-bp-md-only() {
	.#{$bs-prefix}u-visible-md-inline {
		display: inline !important;
	}
	.#{$bs-prefix}u-visible-md-inline-block {
		display: inline-block !important;
	}
	.#{$bs-prefix}u-visible-md-block {
		display: block !important;
	}
}

@include bs-bp-lg-only() {
	.#{$bs-prefix}u-visible-lg-inline {
		display: inline !important;
	}
	.#{$bs-prefix}u-visible-lg-inline-block {
		display: inline-block !important;
	}
	.#{$bs-prefix}u-visible-lg-block {
		display: block !important;
	}
}
