//
// Media component
//
// .c-media {
//     @include bs-c-media();
//     &__figure {
//         @include bs-c-media__figure();
//     }
//     &__body {
//         @include bs-c-media__body();
//     }
// }
//
// <div class="c-media">
//    <div class="c-media__figure">
//        <img ... />
//    </div>
//    <div class="c-media__body">
//        ...
//    </div>
// </div>
//

$bs-c-media-margin: $bs-base-line-height !default;

@mixin bs-c-media() {
	display: flex;
}

@mixin bs-c-media__figure() {
	margin-right: $bs-c-media-margin;
	flex: none;

	> * {
		vertical-align: top;
		margin-top: 0.4rem;
	}
}

@mixin bs-c-media__body() {
	flex: 1;
}
