//
// Adding margin for the row
//
// @param  length  $margin  margin size
//
@mixin bs-row-margin($margin) {
  margin-right: ($margin / 2 * -1);
  margin-left: ($margin / 2 * -1);
  margin-bottom: ($margin * -1);
}

//
// Adding margin for the column
//
// @param  length  $margin  margin size
//
@mixin bs-col-margin($margin) {
  padding-right: ($margin / 2);
  padding-left: ($margin / 2);
  margin-bottom: $margin;
}

//
// Grid component
//
// .c-row {
//     @include bs-c-row();
//     &__col {
//         @include bs-c-row__col();
//         &--1-3 {
//             @include bs-c-row__col(1, 3);
//         }
//         &--offset-1-3 {
//             @include bs-c-row__col--offset(1, 3);
//         }
//     }
// }
//
// <div class="c-row">
//    <div class="c-row__col">
//        ...
//    </div>
// </div>
//

$bs-col-margin: $bs-base-line-height !default;
$bs-col-margin-s: ($bs-base-line-height / 2) !default;
$bs-col-margin-l: ($bs-base-line-height * 2) !default;
$bs-min-columns: 1 !default;
$bs-max-columns: 12 !default;

@mixin bs-c-row() {
  display: flex;
  flex-wrap: wrap;
}

@mixin bs-c-row__col($columns: null, $max-columns: null) {
  flex: 1;
  max-width: 100%;

  @if ($columns != null and $max-columns != null) {
    $width: percentage($columns / $max_columns);
    flex: 0 1 $width;
    max-width: $width;
  }
}

@mixin bs-c-row__col--offset($columns: null, $max-columns: null) {
  @if ($columns != null and $max-columns != null) {
    margin-left: percentage($columns / $max_columns);
  }
  @if ($columns == 0) {
    margin-left: 0;
  }
}
