/**
 * A little brighten
 *
 * @param   hex  $hex
 * @return  hex
 */
@function bs-light($hex) {
	@return lighten($hex, 20%);
}

/**
 * Brighten
 *
 * @param   hex  $hex
 * @return  hex
 */
@function bs-lighter($hex) {
	@return lighten($hex, 33.5%);
}

/**
 * To very brighten
 *
 * @param   hex  $hex
 * @return  hex
 */
@function bs-lightest($hex) {
	@return lighten($hex, 37%);
}

/**
 * A little darken
 *
 * @param   hex  $hex
 * @return  hex
 */
@function bs-dark($hex) {
	@return darken($hex, 20%);
}

/**
 * Darken
 *
 * @param   hex  $hex
 * @return  hex
 */
@function bs-darker($hex) {
	@return darken($hex, 33.5%);
}

/**
 * To very darken
 *
 * @param   hex  $hex
 * @return  hex
 */
@function bs-darkest($hex) {
	@return darken($hex, 37%);
}
