@function bs-vertical-rhythm( $value, $coefficient: 1 ) {
	$base-line-height-px: bs-numeric( bs-rem2px( $bs-base-line-height ) );
	$font-size-px       : bs-numeric( bs-rem2px( $bs-font-size ) );

	$base: bs-numeric( bs-rem2px( $bs-base-line-height ) ) / 3 * $coefficient;
	@if ( bs-numeric( $value ) > $base - 1 ) {
		@return bs-vertical-rhythm( $value, ($coefficient + 1) );
	} @else {
		@return $base;
	}
}
