//
// Generate balloon
//
// @param  string  $angle   position of arrow
// @param  hash    $params  properties for decoration
//
@mixin _balloon($angle, $params: ()) {
  $params: map-merge(
    (
      background-color: null,
      border-color: null,
      border-size: null,
      triangle-size: 10px,
      padding: _space(.75),
    ),
    $params
  );

  $background-color: map-get($params, 'background-color');
  $border-color: map-get($params, 'border-color');
  $border-size: map-get($params, 'border-size');
  $triangle-size: map-get($params, 'triangle-size');
  $padding: map-get($params, 'padding');

  position: relative;

  @if (not _is-null($border-size)) {
    background-color: $background-color;
  }

  @if (not _is-null($border-size) and not _is-null($border-color)) {
    border: $border-size solid $border-color;
  }

  @if (not _is-null($padding)) {
    padding: $padding;
  }

  @include _balloon-triangle(
    $angle,
    $triangle-size,
    $background-color,
    $border-size,
    $border-color
  );
}
