/*
---
name: _set-between-content-level()
category:
  - core/mixin
---
Sets Child elements margin

### scss
```scss
//
// @param  int  $level
//

.u-between-content {
  @include _set-between-content-level(1);
}
```

### html
```ejs
<div class="u-between-content">
  ...
</div>
```
*/

@mixin _set-between-content-level($level) {
  --_margin-top: #{ $level };
  --_margin-bottom: #{ $level };

  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > *:not(:first-child) {
    margin-top: calc(var(--_margin1) * var(--_margin-top));
  }

  & > *:not(:last-child) {
    margin-bottom: calc(var(--_margin1) * var(--_margin-bottom));
  }
}

/*
---
name: _set-content-level()
category:
  - core/mixin
---
Sets Child elements margin

### scss
```scss
//
// @param  int  $level
//

.u-content {
  @include _set-content-level(1);
}
```

### html
```ejs
<div class="u-content">
  ...
</div>
```
*/

@mixin _set-content-level($level) {
  @include _set-between-content-level($level);

  > h1 {
    --_margin-top: #{ $_h1-margin-top };
    --_margin-bottom: #{ $_h1-margin-bottom };
  }

  > h2 {
    --_margin-top: #{ $_h2-margin-top };
    --_margin-bottom: #{ $_h2-margin-bottom };
  }

  > h3 {
    --_margin-top: #{ $_h3-margin-top };
    --_margin-bottom: #{ $_h3-margin-bottom };
  }

  > h4 {
    --_margin-top: #{ $_h4-margin-top };
    --_margin-bottom: #{ $_h4-margin-bottom };
  }

  > h5 {
    --_margin-top: #{ $_h5-margin-top };
    --_margin-bottom: #{ $_h5-margin-bottom };
  }

  > h6 {
    --_margin-top: #{ $_h6-margin-top };
    --_margin-bottom: #{ $_h6-margin-bottom };
  }
}
