/*
---
name: _between-content()
category:
  - core/mixin
tag:
  - deprecated
---
Sets Child elements margin

### scss
```scss
//
// @param  int  $coefficient
//

.u-between-content {
  @include _between-content(1);
}
```

### html
```ejs
<div class="u-between-content">
  ...
</div>
```
*/

@mixin _between-content($coefficient: 1) {
  @warn '_between-content() is deprecated.';

  > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    @include _margin-top($coefficient);
  }

  > :first-child {
    margin-top: 0;
  }
}

/*
---
name: _content()
category:
  - core/mixin
tag:
  - deprecated
---
Sets Child elements margin

### scss
```scss
//
// @param  int  $coefficient
//

.u-content {
  @include _content(1);
}
```

### html
```ejs
<div class="u-content">
  ...
</div>
```
*/

@mixin _content($coefficient: 1) {
  @warn '_content() is deprecated.';

  @include _between-content($coefficient);

  > h1 {
    @include _margin-top($_h1-margin-top * $coefficient);
    @include _margin-bottom($_h1-margin-bottom * $coefficient);
  }

  > h2 {
    @include _margin-top($_h2-margin-top * $coefficient);
    @include _margin-bottom($_h2-margin-bottom * $coefficient);
  }

  > h3 {
    @include _margin-top($_h3-margin-top * $coefficient);
    @include _margin-bottom($_h3-margin-bottom * $coefficient);
  }

  > h4 {
    @include _margin-top($_h4-margin-top * $coefficient);
    @include _margin-bottom($_h4-margin-bottom * $coefficient);
  }

  > h5 {
    @include _margin-top($_h5-margin-top * $coefficient);
    @include _margin-bottom($_h5-margin-bottom * $coefficient);
  }

  > h6 {
    @include _margin-top($_h6-margin-top * $coefficient);
    @include _margin-bottom($_h6-margin-bottom * $coefficient);
  }
}

/*
---
name: _margin-top()
category:
  - core/mixin
  - core/mixin/margin
tag:
  - deprecated
---
Sets margin-top

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _margin-top(1);
@include _margin-top(10px);
@include _margin-top(1, false);
```
*/

@mixin _margin-top($coefficient, $apply-margin-scale: true) {
  @warn '_margin-top() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    margin-top: _space($coefficient);

    @if $apply-margin-scale {
      margin-top: _space($coefficient, true, true);
    } @else {
      margin-top: _space($coefficient, true);
    }
  } @else {
    margin-top: $coefficient;
  }
}

/*
---
name: _margin-right()
category:
  - core/mixin
  - core/mixin/margin
tag:
  - deprecated
---
Sets margin-right

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _margin-right(1);
@include _margin-right(10px);
@include _margin-right(1, false);
```
*/

@mixin _margin-right($coefficient, $apply-margin-scale: true) {
  @warn '_margin-right() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    margin-right: _space($coefficient);

    @if $apply-margin-scale {
      margin-right: _space($coefficient, true, true);
    } @else {
      margin-right: _space($coefficient, true);
    }
  } @else {
    margin-right: $coefficient;
  }
}

/*
---
name: _margin-bottom()
category:
  - core/mixin
  - core/mixin/margin
tag:
  - deprecated
---
Sets margin-bottom

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _margin-bottom(1);
@include _margin-bottom(10px);
@include _margin-bottom(1, false);
```
*/

@mixin _margin-bottom($coefficient, $apply-margin-scale: true) {
  @warn '_margin-bottom() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    margin-bottom: _space($coefficient);

    @if $apply-margin-scale {
      margin-bottom: _space($coefficient, true, true);
    } @else {
      margin-bottom: _space($coefficient, true);
    }
  } @else {
    margin-bottom: $coefficient;
  }
}

/*
---
name: _margin-left()
category:
  - core/mixin
  - core/mixin/margin
tag:
  - deprecated
---
Sets margin-left

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _margin-left(1);
@include _margin-left(10px);
@include _margin-left(1, false);
```
*/

@mixin _margin-left($coefficient, $apply-margin-scale: true) {
  @warn '_margin-left() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    margin-left: _space($coefficient);

    @if $apply-margin-scale {
      margin-left: _space($coefficient, true, true);
    } @else {
      margin-left: _space($coefficient, true);
    }
  } @else {
    margin-left: $coefficient;
  }
}

/*
---
name: _margin()
category:
  - core/mixin
  - core/mixin/margin
tag:
  - deprecated
---
Sets margin

### scss
```scss
//
// @param  int  $coefficient-1
// @param  int  $coefficient-2
// @param  int  $coefficient-3
// @param  int  $coefficient-4
// @param  boolean  $apply-margin-scale
//

@include _margin(1);
@include _margin(1, 2);
@include _margin(1, 2, .5);
@include _margin(1, 2, .5, 2);
@include _margin(10px);
@include _margin(1, null, null, null, false);
```
*/

@mixin _margin($coefficient-1, $coefficient-2: null, $coefficient-3: null, $coefficient-4: null, $apply-margin-scale: true) {
  @warn '_margin() is deprecated.';

  @if (_is-null($coefficient-2) and _is-null($coefficient-3) and _is-null($coefficient-4)) {
    @include _margin-top($coefficient-1, $apply-margin-scale);
    @include _margin-right($coefficient-1, $apply-margin-scale);
    @include _margin-bottom($coefficient-1, $apply-margin-scale);
    @include _margin-left($coefficient-1, $apply-margin-scale);
  } @else if (_is-null($coefficient-3) and _is-null($coefficient-4)) {
    @include _margin-top($coefficient-1, $apply-margin-scale);
    @include _margin-right($coefficient-2, $apply-margin-scale);
    @include _margin-bottom($coefficient-1, $apply-margin-scale);
    @include _margin-left($coefficient-2, $apply-margin-scale);
  } @else if (_is-null($coefficient-4)) {
    @include _margin-top($coefficient-1, $apply-margin-scale);
    @include _margin-right($coefficient-2, $apply-margin-scale);
    @include _margin-bottom($coefficient-3, $apply-margin-scale);
    @include _margin-left($coefficient-2, $apply-margin-scale);
  } @else {
    @include _margin-top($coefficient-1, $apply-margin-scale);
    @include _margin-right($coefficient-2, $apply-margin-scale);
    @include _margin-bottom($coefficient-3, $apply-margin-scale);
    @include _margin-left($coefficient-4, $apply-margin-scale);
  }
}

/*
---
name: _padding-top()
category:
  - core/mixin
  - core/mixin/padding
tag:
  - deprecated
---
Sets padding-top

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _padding-top(1);
@include _padding-top(10px);
@include _padding-top(1, true);
```
*/

@mixin _padding-top($coefficient, $apply-margin-scale: false) {
  @warn '_padding-top() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    padding-top: _space($coefficient);

    @if $apply-margin-scale {
      padding-top: _space($coefficient, true, true);
    } @else {
      padding-top: _space($coefficient, true);
    }
  } @else {
    padding-top: $coefficient;
  }
}

/*
---
name: _padding-right()
category:
  - core/mixin
  - core/mixin/padding
tag:
  - deprecated
---
Sets padding-right

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _padding-right(1);
@include _padding-right(10px);
@include _padding-right(1, true);
```
*/

@mixin _padding-right($coefficient, $apply-margin-scale: false) {
  @warn '_padding-right() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    padding-right: _space($coefficient);

    @if $apply-margin-scale {
      padding-right: _space($coefficient, true, true);
    } @else {
      padding-right: _space($coefficient, true);
    }
  } @else {
    padding-right: $coefficient;
  }
}

/*
---
name: _padding-bottom()
category:
  - core/mixin
  - core/mixin/padding
tag:
  - deprecated
---
Sets padding-bottom

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _padding-bottom(1);
@include _padding-bottom(10px);
@include _padding-bottom(1, true);
```
*/

@mixin _padding-bottom($coefficient, $apply-margin-scale: false) {
  @warn '_padding-bottom() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    padding-bottom: _space($coefficient);

    @if $apply-margin-scale {
      padding-bottom: _space($coefficient, true, true);
    } @else {
      padding-bottom: _space($coefficient, true);
    }
  } @else {
    padding-bottom: $coefficient;
  }
}

/*
---
name: _padding-left()
category:
  - core/mixin
  - core/mixin/padding
tag:
  - deprecated
---
Sets padding-left

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _padding-left(1);
@include _padding-left(10px);
@include _padding-left(1, true);
```
*/

@mixin _padding-left($coefficient, $apply-margin-scale: false) {
  @warn '_padding-left() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    padding-left: _space($coefficient);

    @if $apply-margin-scale {
      padding-left: _space($coefficient, true, true);
    } @else {
      padding-left: _space($coefficient, true);
    }
  } @else {
    padding-left: $coefficient;
  }
}

/*
---
name: _padding()
category:
  - core/mixin
  - core/mixin/padding
tag:
  - deprecated
---
Sets padding

### scss
```scss
//
// @param  int  $coefficient-1
// @param  int  $coefficient-2
// @param  int  $coefficient-3
// @param  int  $coefficient-4
// @param  boolean  $apply-margin-scale
//

@include _padding(1);
@include _padding(1, 2);
@include _padding(1, 2, .5);
@include _padding(1, 2, .5, 2);
@include _padding(10px);
@include _padding(1, null, null, null, true);
```
*/

@mixin _padding($coefficient-1, $coefficient-2: null, $coefficient-3: null, $coefficient-4: null, $apply-margin-scale: false) {
  @warn '_padding() is deprecated.';

  @if (_is-null($coefficient-2) and _is-null($coefficient-3) and _is-null($coefficient-4)) {
    @include _padding-top($coefficient-1, $apply-margin-scale);
    @include _padding-right($coefficient-1, $apply-margin-scale);
    @include _padding-bottom($coefficient-1, $apply-margin-scale);
    @include _padding-left($coefficient-1, $apply-margin-scale);
  } @else if (_is-null($coefficient-3) and _is-null($coefficient-4)) {
    @include _padding-top($coefficient-1, $apply-margin-scale);
    @include _padding-right($coefficient-2, $apply-margin-scale);
    @include _padding-bottom($coefficient-1, $apply-margin-scale);
    @include _padding-left($coefficient-2, $apply-margin-scale);
  } @else if (_is-null($coefficient-4)) {
    @include _padding-top($coefficient-1, $apply-margin-scale);
    @include _padding-right($coefficient-2, $apply-margin-scale);
    @include _padding-bottom($coefficient-3, $apply-margin-scale);
    @include _padding-left($coefficient-2, $apply-margin-scale);
  } @else {
    @include _padding-top($coefficient-1, $apply-margin-scale);
    @include _padding-right($coefficient-2, $apply-margin-scale);
    @include _padding-bottom($coefficient-3, $apply-margin-scale);
    @include _padding-left($coefficient-4, $apply-margin-scale);
  }
}

/*
---
name: _position()
category:
  - core/mixin
  - core/mixin/position
tag:
  - deprecated
---
The position shorthand

### scss
```scss
//
// @param  string  $position
// @param  length  $top
// @param  length  $right
// @param  length  $bottom
// @param  length  $left
// @param  int     $z-index
//

@include _position(absolute, 10px, null, null, 10px, 1);
```
*/

@mixin _position($position, $top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
  @warn '_position() is deprecated.';

  position: $position;

  @if not _is-null($top) {
    @include _top($top);
  }

  @if not _is-null($right) {
    @include _right($right);
  }

  @if not _is-null($bottom) {
    @include _bottom($bottom);
  }

  @if not _is-null($left) {
    @include _left($left);
  }

  @if (_is-int($z-index) or _is-length($z-index)) {
    z-index: _strip-unit($z-index);
  }
}

/*
---
name: _top()
category:
  - core/mixin
  - core/mixin/position
tag:
  - deprecated
---
Sets top

### scss
```scss
//
// @param  int  $coefficient
//

@include _top(1);
@include _top(10px);
```
*/

@mixin _top($coefficient) {
  @warn '_top() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    top: calc(var(--_space) * #{ $coefficient });
  } @else {
    top: $coefficient;
  }
}

/*
---
name: _right()
category:
  - core/mixin
  - core/mixin/position
tag:
  - deprecated
---
Sets right

### scss
```scss
//
// @param  int  $coefficient
//

@include _right(1);
@include _right(10px);
```
*/

@mixin _right($coefficient) {
  @warn '_right() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    right: calc(var(--_space) * #{ $coefficient });
  } @else {
    right: $coefficient;
  }
}

/*
---
name: _bottom()
category:
  - core/mixin
  - core/mixin/position
tag:
  - deprecated
---
Sets bottom

### scss
```scss
//
// @param  int  $coefficient
//

@include _bottom(1);
@include _bottom(10px);
```
*/

@mixin _bottom($coefficient) {
  @warn '_bottom() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    bottom: calc(var(--_space) * #{ $coefficient });
  } @else {
    bottom: $coefficient;
  }
}

/*
---
name: _left()
category:
  - core/mixin
  - core/mixin/position
tag:
  - deprecated
---
Sets left

### scss
```scss
//
// @param  int  $coefficient
//

@include _left(1);
@include _left(10px);
```
*/

@mixin _left($coefficient) {
  @warn '_left() is deprecated.';

  @if _is-number($coefficient) and 0 != $coefficient {
    left: calc(var(--_space) * #{ $coefficient });
  } @else {
    left: $coefficient;
  }
}

/*
---
name: _font-size()
category:
  - core/mixin
  - core/mixin/typography
tag:
  - deprecated
---
Sets rem font-size

### scss
```scss
//
// @param  int  $scale-or-font-size  Font size scaling factor.
//

.c-foo {
  @include _font-size(12px);
}
```
*/

@mixin _font-size($scale-or-font-size) {
  @warn '_font-size() is deprecated.';

  font-size: _font-size($scale-or-font-size);
}

@mixin _deprecated-font-size($font-size) {
  font-size: _deprecated-font-size($font-size);
}

/*
---
name: _line-height()
category:
  - core/mixin
  - core/mixin/typography
tag:
  - deprecated
---
Sets line-height for vertical rhythum

### scss
```scss
//
// @param  int  $scale-or-font-size  Font size scaling factor.
//

.c-foo {
  @include _line-height(12px);
}
```
*/

@mixin _line-height($scale-or-font-size) {
  @warn '_line-height() is deprecated.';

  line-height: _line-height($scale-or-font-size);
}

@mixin _deprecated-line-height($font-size) {
  line-height: _deprecated-line-height($font-size);
}

/*
---
name: _font-size-line-height()
category:
  - core/mixin
  - core/mixin/typography
  - foundation/typography
  - foundation/typography/lists
tag:
  - deprecated
---
Sets rem font-size and line-height for vertical rhythum.

### scss
```scss
//
// @param  int  $font-size
//

.c-foo {
  @include _font-size-line-height(2);
}
```

### html
```html
<h3>English</h3>

<p class="font-size-10px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-12px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-14px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-16px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-20px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-24px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-30px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-34px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-38px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-42px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-46px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-50px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-100px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<p class="font-size-200px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
</p>

<h3>Japanese</h3>

<p class="font-size-10px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-12px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-14px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-16px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-20px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-24px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-30px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-34px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-38px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-42px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-46px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-50px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-100px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>

<p class="font-size-200px">
  あともゴーシュ子たり何に向いていまし。夜中は次がしばらくと落ちて狸から舞台のようで来でおかげをしからちょろちょろゴーシュを合わせていです。どうかまげて子をこどもに出でしです。それりんに狸がこってボック
</p>
```
*/

@mixin _font-size-line-height($scale-or-font-size) {
  @warn '_font-size-line-height() is deprecated.';

  @if unitless($scale-or-font-size) {
    $scale: $scale-or-font-size;
    @include _font-size($scale);
    @include _line-height($scale);
  } @else {
    $font-size: $scale-or-font-size;
    @include _deprecated-font-size-line-height($font-size);
  }
}

@mixin _deprecated-font-size-line-height($font-size) {
  $unit: unit($font-size);

  $scale: false;
  @if ('px' == $unit) {
    $scale: $font-size / $_base-font-size-px;
  } @else if ('rem' == $unit) {
    $px: _rem2px($font-size);
    $scale: $px / $_base-font-size-px;
  }

  @include _font-size-line-height($scale);
}
