/*
---
name: _hover()
category:
  - core/mixin
---
Hover event helper

### scss
```scss
//
// @param  size|length  $size
//

img {
  @include _hover(lg) {
    opacity: .8;
  }
}

img {
  @include _hover(md) {
    opacity: .8;
  }
}
```
*/

@mixin _hover($size: false) {
  @include _media-min($size) {
    &:hover, &:active, &:focus {
      @content;
    }
  }
}
