/*
---
name: _hover()
category:
  - core/mixin
---
Hover event helper

### scss
```scss
img {
  @include _hover() {
    opacity: .8;
  }
}
```
*/

@mixin _hover() {
  &:hover, &:active, &:focus {
    @content;
  }
}
