//
// Form Control border color
// @var  hex
//
$_form-control-border-color: _light($_color-gray) !default;

//
// Form Control border color when hover
// @var  hex
//
$_form-control-border-color-hover: $_color-gray !default;

//
// Form Control border color when focus
// @var  hex
//
$_form-control-border-color-focus: #85B7D9 !default;

//
// Sets padding for form controls
//
@mixin _form-control-base-padding() {
  @include _padding(.25, .5);
}

//
// Sets border for form controls
//
@mixin _form-control-base-border() {
  border: 1px solid $_form-control-border-color;
  border-radius: $_border-radius;
  outline: 0;
  @include _transition(border);

  &:hover {
    border-color: $_form-control-border-color-hover;
  }

  &:active,
  &:focus,
  &[aria-selected="true"] {
    border-color: $_form-control-border-color-focus;
  }
}
