/*
---
name: _form-control-base-padding()
category:
  - core/mixin
  - core/mixin/form
---
Sets padding for form controls

### scss
```scss
input[type="text"],
select {
  @include _form-control-base-padding();
}
```
*/

@mixin _form-control-base-padding() {
  padding: var(--_padding-2);
}

/*
---
name: _form-control-base-border()
category:
  - core/mixin
  - core/mixin/form
---
Sets border for form controls

### scss
```scss
input[type="text"],
select {
  @include _form-control-base-border();
}
```
*/

@mixin _form-control-base-border() {
  --_border-radius: var(--_global--border-radius);

  border: 1px solid var(--_form-control-border-color);
  border-radius: var(--_border-radius);
  outline: 0;
  @include _transition(border);

  &:hover {
    border-color: var(--_form-control-border-color-hover);
  }

  &:active,
  &:focus,
  &:focus-within,
  &[aria-selected="true"] {
    border-color: var(--_form-control-border-color-focus);
  }

  > input,
  > textarea {
    border: none;
    outline: none;
  }
}
