/*
---
name: _form-control-base-padding()
category:
  - core/mixin
  - core/mixin/form
---
Sets padding for form controls

### scss
```scss
input[type="text"],
select {
  @include _form-control-base-padding();
}
```
*/

@mixin _form-control-base-padding() {
  @include _padding(.25, .5);
}

/*
---
name: $_form-control-border-color
category:
  - core/mixin
  - core/mixin/form
  - core/variable/form
---
Form Control border color

### scss
```scss
$_form-control-border-color: _light($_color-gray);
```
*/

$_form-control-border-color: _light($_color-gray) !default;

/*
---
name: $_form-control-border-color-hover
category:
  - core/mixin
  - core/mixin/form
  - core/variable/form
---
Form Control border color when hover

### scss
```scss
$_form-control-border-color-hover: $_color-gray;
```
*/

$_form-control-border-color-hover: $_color-gray !default;

/*
---
name: $_form-control-border-color-focus
category:
  - core/mixin
  - core/mixin/form
  - core/variable/form
---
Form Control border color when focus

### scss
```scss
$_form-control-border-color-focus: #85B7D9;
```
*/
$_form-control-border-color-focus: #85b7d9 !default;

/*
---
name: _form-control-base-border()
category:
  - core/mixin
  - core/mixin/form
---
Sets border for form controls

### scss
```scss
input[type="text"],
select {
  @include _form-control-base-border();
}
```
*/

@mixin _form-control-base-border() {
  border: 1px solid $_form-control-border-color;
  border-radius: $_border-radius;
  outline: 0;
  @include _transition(border);

  &:hover {
    border-color: $_form-control-border-color-hover;
  }

  &:active,
  &:focus,
  &:focus-within,
  &[aria-selected="true"] {
    border-color: $_form-control-border-color-focus;
  }

  > input,
  > textarea {
    border: none;
    outline: none;
  }
}
