/*
---
name: _hidden()
category:
  - core/mixin
  - core/mixin/_hidden()
---
```scss
//
// This helper set "position" property.
// We recomment to use this helper on elements with no position specified.
//

.c-foo {
  @include _hidden();

  @include _media-min(md) {
      @include _visible();
  }
}
```
*/

@mixin _hidden() {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  speak: none !important;
  visibility: hidden !important;
}
