/*
---
name: _margin-top()
category:
  - core/mixin
  - core/mixin/margin
---
Sets margin-top

### scss
```scss
//
// @param  int  $coefficient
//

@include _margin-top(1);
@include _margin-top(10px);
```
*/

@mixin _margin-top($coefficient) {
  @if _is-number($coefficient) and 0 != $coefficient {
    margin-top: _space($coefficient);
    margin-top: calc(#{ _var-space() } * #{ $coefficient } * #{ _var-margin-scale() });
  } @else {
    margin-top: $coefficient;
  }
}

/*
---
name: _margin-right()
category:
  - core/mixin
  - core/mixin/margin
---
Sets margin-right

### scss
```scss
//
// @param  int  $coefficient
//

@include _margin-right(1);
@include _margin-right(10px);
```
*/

@mixin _margin-right($coefficient) {
  @if _is-number($coefficient) and 0 != $coefficient {
    margin-right: _space($coefficient);
    margin-right: calc(#{ _var-space() } * #{ $coefficient } * #{ _var-margin-scale() });
  } @else {
    margin-right: $coefficient;
  }
}

/*
---
name: _margin-bottom()
category:
  - core/mixin
  - core/mixin/margin
---
Sets margin-bottom

### scss
```scss
//
// @param  int  $coefficient
//

@include _margin-bottom(1);
@include _margin-bottom(10px);
```
*/

@mixin _margin-bottom($coefficient) {
  @if _is-number($coefficient) and 0 != $coefficient {
    margin-bottom: _space($coefficient);
    margin-bottom: calc(#{ _var-space() } * #{ $coefficient } * #{ _var-margin-scale() });
  } @else {
    margin-bottom: $coefficient;
  }
}

/*
---
name: _margin-left()
category:
  - core/mixin
  - core/mixin/margin
---
Sets margin-left

### scss
```scss
//
// @param  int  $coefficient
//

@include _margin-left(1);
@include _margin-left(10px);
```
*/

@mixin _margin-left($coefficient) {
  @if _is-number($coefficient) and 0 != $coefficient {
    margin-left: _space($coefficient);
    margin-left: calc(#{ _var-space() } * #{ $coefficient } * #{ _var-margin-scale() });
  } @else {
    margin-left: $coefficient;
  }
}

/*
---
name: _margin()
category:
  - core/mixin
  - core/mixin/margin
---
Sets margin

### scss
```scss
//
// @param  int  $coefficient-1
// @param  int  $coefficient-2
// @param  int  $coefficient-3
// @param  int  $coefficient-4
//

@include _margin(1);
@include _margin(1, 2);
@include _margin(1, 2, .5);
@include _margin(1, 2, .5, 2);
@include _margin(10px);
```
*/

@mixin _margin($coefficient-1, $coefficient-2: null, $coefficient-3: null, $coefficient-4: null) {
  @if (_is-null($coefficient-2) and _is-null($coefficient-3) and _is-null($coefficient-4)) {
    @include _margin-top($coefficient-1);
    @include _margin-right($coefficient-1);
    @include _margin-bottom($coefficient-1);
    @include _margin-left($coefficient-1);
  } @else if (_is-null($coefficient-3) and _is-null($coefficient-4)) {
    @include _margin-top($coefficient-1);
    @include _margin-right($coefficient-2);
    @include _margin-bottom($coefficient-1);
    @include _margin-left($coefficient-2);
  } @else if (_is-null($coefficient-4)) {
    @include _margin-top($coefficient-1);
    @include _margin-right($coefficient-2);
    @include _margin-bottom($coefficient-3);
    @include _margin-left($coefficient-2);
  } @else {
    @include _margin-top($coefficient-1);
    @include _margin-right($coefficient-2);
    @include _margin-bottom($coefficient-3);
    @include _margin-left($coefficient-4);
  }
}
