/*
---
name: _padding-top()
category:
  - core/mixin
  - core/mixin/padding
---
Sets padding-top

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _padding-top(1);
@include _padding-top(10px);
```
*/

@mixin _padding-top($coefficient, $apply-margin-scale: false) {
  @if _is-number($coefficient) and 0 != $coefficient {
    padding-top: _space($coefficient);

    @if false == $apply-margin-scale {
      padding-top: calc(#{ _var-space() } * #{ $coefficient });
    } @else {
      padding-top: calc(#{ _var-space() } * #{ $coefficient } * #{ _var-margin-scale() });
    }
  } @else {
    padding-top: $coefficient;
  }
}

/*
---
name: _padding-right()
category:
  - core/mixin
  - core/mixin/padding
---
Sets padding-right

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _padding-right(1);
@include _padding-right(10px);
```
*/

@mixin _padding-right($coefficient, $apply-margin-scale: false) {
  @if _is-number($coefficient) and 0 != $coefficient {
    padding-right: _space($coefficient);

    @if false == $apply-margin-scale {
      padding-right: calc(#{ _var-space() } * #{ $coefficient });
    } @else {
      padding-right: calc(#{ _var-space() } * #{ $coefficient } * #{ _var-margin-scale() });
    }
  } @else {
    padding-right: $coefficient;
  }
}

/*
---
name: _padding-bottom()
category:
  - core/mixin
  - core/mixin/padding
---
Sets padding-bottom

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _padding-bottom(1);
@include _padding-bottom(10px);
```
*/

@mixin _padding-bottom($coefficient, $apply-margin-scale: false) {
  @if _is-number($coefficient) and 0 != $coefficient {
    padding-bottom: _space($coefficient);

    @if false == $apply-margin-scale {
      padding-bottom: calc(#{ _var-space() } * #{ $coefficient });
    } @else {
      padding-bottom: calc(#{ _var-space() } * #{ $coefficient } * #{ _var-margin-scale() });
    }
  } @else {
    padding-bottom: $coefficient;
  }
}

/*
---
name: _padding-left()
category:
  - core/mixin
  - core/mixin/padding
---
Sets padding-left

### scss
```scss
//
// @param  int  $coefficient
// @param  boolean  $apply-margin-scale
//

@include _padding-left(1);
@include _padding-left(10px);
```
*/

@mixin _padding-left($coefficient, $apply-margin-scale: false) {
  @if _is-number($coefficient) and 0 != $coefficient {
    padding-left: _space($coefficient);

    @if false == $apply-margin-scale {
      padding-left: calc(#{ _var-space() } * #{ $coefficient });
    } @else {
      padding-left: calc(#{ _var-space() } * #{ $coefficient } * #{ _var-margin-scale() });
    }
  } @else {
    padding-left: $coefficient;
  }
}

/*
---
name: _padding()
category:
  - core/mixin
  - core/mixin/padding
---
Sets padding

### scss
```scss
//
// @param  int  $coefficient-1
// @param  int  $coefficient-2
// @param  int  $coefficient-3
// @param  int  $coefficient-4
//

@include _padding(1);
@include _padding(1, 2);
@include _padding(1, 2, .5);
@include _padding(1, 2, .5, 2);
@include _padding(10px);
```
*/

@mixin _padding($coefficient-1, $coefficient-2: null, $coefficient-3: null, $coefficient-4: null) {
  @if (_is-null($coefficient-2) and _is-null($coefficient-3) and _is-null($coefficient-4)) {
    @include _padding-top($coefficient-1);
    @include _padding-right($coefficient-1);
    @include _padding-bottom($coefficient-1);
    @include _padding-left($coefficient-1);
  } @else if (_is-null($coefficient-3) and _is-null($coefficient-4)) {
    @include _padding-top($coefficient-1);
    @include _padding-right($coefficient-2);
    @include _padding-bottom($coefficient-1);
    @include _padding-left($coefficient-2);
  } @else if (_is-null($coefficient-4)) {
    @include _padding-top($coefficient-1);
    @include _padding-right($coefficient-2);
    @include _padding-bottom($coefficient-3);
    @include _padding-left($coefficient-2);
  } @else {
    @include _padding-top($coefficient-1);
    @include _padding-right($coefficient-2);
    @include _padding-bottom($coefficient-3);
    @include _padding-left($coefficient-4);
  }
}
