//
// Setspadding
//
// @param  int  $coefficient-1
// @param  int  $coefficient-2
// @param  int  $coefficient-3
// @param  int  $coefficient-4
//

@mixin _padding($coefficient-1, $coefficient-2: null, $coefficient-3: null, $coefficient-4: null) {
  @if (_is-null($coefficient-2) and _is-null($coefficient-3) and _is-null($coefficient-4)) {
    $padding: _space($coefficient-1);
    padding: $padding;
  } @else if (_is-null($coefficient-3) and _is-null($coefficient-4)) {
    $padding-vertical  : _space($coefficient-1);
    $padding-horizontal: _space($coefficient-2);
    padding: $padding-vertical $padding-horizontal;
  } @else if (_is-null($coefficient-4)) {
    $padding-top       : _space($coefficient-1);
    $padding-horizontal: _space($coefficient-2);
    $padding-bottom    : _space($coefficient-3);
    padding: $padding-top $padding-horizontal $padding-bottom;
  } @else {
    $padding-top   : _space($coefficient-1);
    $padding-right : _space($coefficient-2);
    $padding-bottom: _space($coefficient-3);
    $padding-left  : _space($coefficient-4);
    padding: $padding-top $padding-right $padding-bottom $padding-left;
  }
}

//
// Retrun padding-top
//
// @param  int  $coefficient
//
@mixin _padding-top($coefficient) {
  padding-top: _space($coefficient);
}

//
// Retrun padding-right
//
// @param  int  $coefficient
//
@mixin _padding-right($coefficient) {
  padding-right: _space($coefficient);
}

//
// Retrun padding-bottom
//
// @param  int  $coefficient
//
@mixin _padding-bottom($coefficient) {
  padding-bottom: _space($coefficient);
}

//
// Retrun padding-left
//
// @param  int  $coefficient
//
@mixin _padding-left($coefficient) {
  padding-left: _space($coefficient);
}
