/*
---
name: _media-min()
category:
  - core/mixin
  - core/mixin/_media-min()
---
```scss
//
// min-width media query
//
// @param  size|length  $size  width
//

.c-foo {
  @include _media-min(md) {
    ...
  }
}
```
*/

@mixin _media-min($size) {
  $prev_size: _prev-size-key($size);
  @if (false != $prev_size) {
    @media (min-width: _min($size)) {
      @content;
    }
  } @else if (0 == $size) {
    @content;
  } @else if ('number' == type-of($size)) {
    @media (min-width: _min($size)) {
      @content;
    }
  }
}

/*
---
name: _media-max()
category:
  - core/mixin
  - core/mixin/_media-max()
---
```scss
//
// max-width media query
//
// @param  size|length  $size  width
//

.c-foo {
  @include _media-max(md) {
    ...
  }
}
```
*/

@mixin _media-max($size) {
  $next_size: _next-size-key($size);
  @if (false != $next_size) {
    @media (max-width: _max($size)) {
      @content;
    }
  } @else if (map-get($_sizes, $size)) {
    @content;
  } @else if ('number' == type-of($size)) {
    @media (max-width: _max($size)) {
      @content;
    }
  }
}

/*
---
name: _media-only()
category:
  - core/mixin
  - core/mixin/_media-only()
---
```scss
//
// Specific size only media query
//
// @param  size|length  $size  width
//

.c-foo {
  @include _media-only(md) {
    ...
  }
}
```
*/

@mixin _media-only($size) {
  $prev_size: _prev-size-key($size);
  $next_size: _next-size-key($size);
  @if (false == $prev_size and false == $next_size) {
    @media (min-width: _min($size)) and (max-width: _max($size)) {
      @content;
    }
  } @else if (false == $prev_size) {
    @include _media-max($size) {
      @content;
    }
  } @else if (false == $next_size) {
    @include _media-min($size) {
      @content;
    }
  } @else {
    @media (min-width: _min($size)) and (max-width: _max($size)) {
      @content;
    }
  }
}
