/*
---
name: _font-size()
category:
  - core/mixin
  - core/mixin/typography
---
Sets px and rem font-sizes

### scss
```scss
//
// @param  int  $scale-or-font-size  Font size scaling factor.
//

.c-foo {
  @include _font-size(12px);
}
```
*/

@mixin _font-size($scale-or-font-size) {
  @if unitless($scale_or_font-size) {
    $scale: $scale-or-font-size;
    font-size: $_base-font-size-px * $scale;
    font-size: $scale * 1rem;
  } @else {
    $font-size: $scale-or-font-size;
    @include _deprecated-font-size($font-size);
  }
}

@mixin _deprecated-font-size($font-size) {
  $unit: unit($font-size);

  $scale: false;
  @if ('px' == $unit) {
    $scale: $font-size / $_base-font-size-px;
  } @else if ('rem' == $unit) {
    $px: _rem2px($font-size);
    $scale: $px / $_base-font-size-px;
  }

  @include _font-size($scale);
}

/*
---
name: _line-height()
category:
  - core/mixin
  - core/mixin/typography
---
Sets line-height for vertical rhythum

### scss
```scss
//
// @param  int  $scale-or-font-size  Font size scaling factor.
//

.c-foo {
  @include _line-height(12px);
}
```
*/

@mixin _line-height($scale-or-font-size) {
  @if unitless($scale-or-font-size) {
    $scale: $scale-or-font-size;

    $diff: 1 - $scale;
    @if 1 == $scale {
      line-height: 1 + $_half-leading * 2;
      line-height: calc(1 + #{ _var-half-leading() } * 2);
    } @else if 1 > $scale {
      line-height: 1 + ($_half-leading - $diff * .25) * 2;
      line-height: calc(1 + (#{ _var-half-leading() } - #{ $diff * .25 }) * 2);
    } @else if 1 < $scale {
      line-height: 1 + ($_half-leading - abs($diff) * .1) * 2;
      line-height: calc(1 + (#{ _var-half-leading() } - #{ abs($diff) * .1 }) * 2);
    }
  } @else {
    $font-size: $scale-or-font-size;
    @include _deprecated-line-height($font-size);
  }
}

@mixin _deprecated-line-height($font-size) {
  $unit: unit($font-size);

  $scale: false;
  @if ('px' == $unit) {
    $scale: $font-size / $_base-font-size-px;
  } @else if ('rem' == $unit) {
    $px: _rem2px($font-size);
    $scale: $px / $_base-font-size-px;
  }

  @include _line-height($scale);
}

/*
---
name: _font-size-line-height()
category:
  - core/mixin
  - core/mixin/typography
---
Sets px and rem font-sizes and line-height for vertical rhythum

### scss
```scss
//
// @param  int  $font-size
//

.c-foo {
  @include _font-size-line-height(2);
}
```
*/

@mixin _font-size-line-height($scale-or-font-size) {
  @if unitless($scale-or-font-size) {
    $scale: $scale-or-font-size;
    @include _font-size($scale);
    @include _line-height($scale);
  } @else {
    $font-size: $scale-or-font-size;
    @include _deprecated-font-size-line-height($font-size);
  }
}

@mixin _deprecated-font-size-line-height($font-size) {
  $unit: unit($font-size);

  $scale: false;
  @if ('px' == $unit) {
    $scale: $font-size / $_base-font-size-px;
  } @else if ('rem' == $unit) {
    $px: _rem2px($font-size);
    $scale: $px / $_base-font-size-px;
  }

  @include _font-size-line-height($scale);
}
