/*
---
name: _font-size()
category:
  - core/mixin
  - core/mixin/typography
---
Sets px and rem font-sizes

### scss
```scss
//
// @param  rem|px  $font-size
//

.c-foo {
  @include _font-size(12px);
}
```
*/

@mixin _font-size($font-size) {
  $unit: unit($font-size);
  @if ('px' == $unit) {
    font-size: $font-size;
    font-size: _px2rem($font-size);
  } @else if ('rem' == $unit) {
    font-size: _rem2px($font-size);
    font-size: $font-size;
  } @else {
    font-size: $font-size;
  }
}

/*
---
name: _line-height()
category:
  - core/mixin
  - core/mixin/typography
---
Sets line-height for vertical rhythum

### scss
```scss
//
// @param  rem|px  $font-size  font size
//

.c-foo {
  @include _line-height(12px);
}
```
*/

@mixin _line-height($font-size) {
  $unit: unit($font-size);
  $px  : $font-size;
  @if ('rem' == $unit) {
    $px: _rem2px($font-size);
  }
  line-height: (_vertical-rhythm($px) / _strip-unit($px));
}

/*
---
name: _font-size-line-height()
category:
  - core/mixin
  - core/mixin/typography
---
Sets px and rem font-sizes and line-height for vertical rhythum

### scss
```scss
//
// @param  rem|px  $font-size
//

.c-foo {
  @include _font-size-line-height(24px);
}
```
*/

@mixin _font-size-line-height($font-size) {
  $unit: unit($font-size);
  $rem : $font-size;
  @if ('px' == $unit) {
    $rem: _px2rem($font-size);
  }
  @include _font-size($rem);
  @include _line-height($rem);
}
