/*
---
name: _visible()
category:
  - core/mixin
  - core/mixin/_visible()
---
```scss
//
// This helper set "position" property.
// We recomment to use this helper on elements with no position specified.
//

.c-foo {
  @include _hidden();

  @include _media-min(md) {
      @include _visible();
  }
}
```
*/

@mixin _visible() {
  position: static !important;
  clip: auto !important;
  speak: normal !important;
  visibility: visible !important;
}
