/*!
 * Name: Basis v4.1.0
 * Description: The flexbox based CSS framework.
 * Author: Takashi Kitajima ( inc2734 )
 * Author URL: http://2inc.org
 * GitHub Repository: https://github.com/sass-basis/basis
 * License: MIT
 */

@import 'core/core';

@if ($bs-use-mixin-only != true) {
	@import 'foundation/foundation';
	@import 'object/object';
}
