/*
---
name: alert()
category:
  - core/abstract
---
Abstract alert component

### scss
```scss
@use "node_modules/sass-basis/src/css/core";

.c-alert {
  @include core.alert();
  padding: var(--_padding1);
  background-color: #4b9ad8;
  color: #fff;
}
```

### html
```ejs
<div class="c-alert" role="alert">
  ...
</div>
```
*/

@mixin alert() {
  display: block;
}
