//
// The alert component
//
// @param  hash  properties for decoration
//
// .c-alert {
//   @include _alert((
//     background-color: null,
//     border: null,
//   ));
// }
//
// <div class="c-alert" role="alert">
//   ...
// </div>
//

@mixin _alert($params: ()) {
  $params: map-merge((
      background-color: null,
      border: null,
    ),
    $params
  );

  $background-color: map-get($params, 'background-color');
  $border: map-get($params, 'border');

  display: block;

  @if (not _is-null($background-color)) {
    background-color: $background-color;
  }

  @if (not _is-null($border)) {
    border: $border;
  }
}
