//
// The right balloon component
//
// @param  hash  properties for decoration
//
// .c-balloon-right {
//   @include _balloon-right((
//     background-color: null,
//     border-color: null,
//     border-size: null,
//     triangle-size: 10px,
//   ));
// }
//
// <div class="c-balloon-right">
//   ...
// </div>
//

@mixin _balloon-right($params: ()) {
  $params: map-merge(
    (
      background-color: null,
      border-color: null,
      border-size: null,
      triangle-size: 10px,
    ),
    $params
  );

  $background-color: map-get($params, 'background-color');
  $border-color: map-get($params, 'border-color');
  $border-size: map-get($params, 'border-size');
  $triangle-size: map-get($params, 'triangle-size');

  position: relative;

  @if (not _is-null($border-size)) {
    background-color: $background-color;
  }

  @if (not _is-null($border-size) and not _is-null($border-color)) {
    border: $border-size solid $border-color;
  }

  @include _balloon-triangle(
    right,
    $triangle-size,
    $background-color,
    $border-size,
    $border-color
  );
}
