//
// Balloon (Top)
//
// @param  hash  $params  properties for decoration
//
// .c-balloon-top {
//   @include _balloon-top((
//     background-color: null,
//     border-color: null,
//     border-size: null,
//     triangle-size: 10px,
//     padding: _space(.75),
//   ));
// }
//
// <div class="c-balloon-top">
//   ...
// </div>
//

@mixin _balloon-top($params: ()) {
  @include _balloon(top, $params);
}

//
// Balloon (Right)
//
// @param  hash  $params  properties for decoration
//
// .c-balloon-right {
//   @include _balloon-right((
//     background-color: null,
//     border-color: null,
//     border-size: null,
//     triangle-size: 10px,
//     padding: _space(.75),
//   ));
// }
//
// <div class="c-balloon-right">
//   ...
// </div>
//

@mixin _balloon-right($params: ()) {
  @include _balloon(right, $params);
}

//
// Balloon (Bottom)
//
// @param  hash  $params  properties for decoration
//
// .c-balloon-bottom {
//   @include _balloon-bottom((
//     background-color: null,
//     border-color: null,
//     border-size: null,
//     triangle-size: 10px,
//     padding: _space(.75),
//   ));
// }
//
// <div class="c-balloon-bottom">
//   ...
// </div>
//

@mixin _balloon-bottom($params: ()) {
  @include _balloon(bottom, $params);
}

//
// Balloon (Left)
//
// @param  hash  $params  properties for decoration
//
// .c-balloon-left {
//   @include _balloon-left((
//     background-color: null,
//     border-color: null,
//     border-size: null,
//     triangle-size: 10px,
//     padding: _space(.75),
//   ));
// }
//
// <div class="c-balloon-left">
//   ...
// </div>
//

@mixin _balloon-left($params: ()) {
  @include _balloon(left, $params);
}
