//
// The button component
//
// @param  hash  properties for decoration
//
// .c-btn {
//   @include _btn((
//     'background-color': null,
//     'border-color'    : null,
//     'border-size'     : null,
//   ));
// }
//
// <a class="c-btn" role="button">btn</a>
//

@mixin _btn($params: ()) {
  $params: map-merge(
    (
      'background-color': null,
      'border-color'    : null,
      'border-size'     : null,
    ),
    $params
  );

  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  @if (not _is-null(map-get($params, 'border-color')) and not _is-null(map-get($params, 'border-size'))) {
    border: map-get($params, 'border-size') solid map-get($params, 'border-color');
  }

  @if (not _is-null(map-get($params, 'background-color'))) {
    background-color: map-get($params, 'background-color');
  }
}
