//
// Button
//
// @param  hash  properties for decoration
//
// .c-btn {
//   @include _btn((
//     background-color: null,
//     border: null,
//   ));
// }
//
// <a class="c-btn" role="button">btn</a>
//

@mixin _btn($params: ()) {
  $params: map-merge(
    (
      background-color: null,
      border: null,
    ),
    $params
  );

  $background-color: map-get($params, 'background-color');
  $border: map-get($params, 'border');

  display: inline-block;
  cursor: pointer;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  @if (not _is-null($background-color)) {
    background-color: $background-color;
  }

  @if (not _is-null($border)) {
    border: $border;
  }
}
