/*
---
name: _card()
category:
  - core/abstract
compile: true
---
Abstract card component

### scss
```scss
.c-card {
  @include _card();
  background-color: #fff;

  &__body, &__action {
    @include _padding(.75);
  }
}
```

### html
```ejs
<div class="c-card">
  <div class="c-card__figure">
    <img src="/basis/aigis_assets/images/dummy.jpg">
  </div>
  <div class="c-card__body">
    ...
  </div>
  <div class="c-card__action">
    ...
  </div>
</div>
```
```ejs
<div class="c-card">
  <div class="c-card__figure" style="background-image: url('/basis/aigis_assets/images/dummy.jpg'); padding-top: 50%">
    <div style="position: absolute; left: 10px; bottom: 10px">...</div>
  </div>
  <div class="c-card__body">
    ...
  </div>
  <div class="c-card__action">
    ...
  </div>
</div>
```
*/

@mixin _card() {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .1),
              0 1px 1px 0 rgba(0, 0, 0, .05);

  &__figure {
    position: relative;
    @include _background-image-cover();

    > img {
      vertical-align: top;
      width: 100%;
    }
  }

  &__body {
    flex: 1 0 auto;
  }

  &__action {
    border-top: 1px solid _lighter($_color-gray);
  }
}
