//
// Card
//
// @param  hash  $params  properties for decoration
//
// .c-card {
//   @include _card((
//     background-color: null,
//     padding: _space(.75),
//   ));
// }
//
// <div class="c-card">
//   <div class="c-card__figure">
//     <img ...>
//   </div>
//   <div class="c-card__body">
//     ...
//   </div>
// </div>
//

@mixin _card($params: ()) {
  $params: map-merge(
    (
      background-color: null,
      padding: _space(.75),
    ),
    $params
  );

  $background-color: map-get($params, 'background-color');
  $padding: map-get($params, 'padding');

  display: flex;
  flex-direction: column;

  @if (not _is-null($background-color)) {
    background-color: $background-color;
  }

  &__figure {
    > img {
      vertical-align: top;
      width: 100%;
    }
  }

  &__body {
    flex: 1 0 auto;

    @if (not _is-null($padding)) {
      padding: $padding;
    }
  }
}
