//
// The checkbox component
//
// .c-checkbox {
//   @include _checkbox((
//     size: $_base-font-size-px,
//     border-radius: $_border-radius,
//   ));
// }
//
// <span class="c-checkbox">
//   <input type="checkbox">
//   <label class="c-checkbox__label">Label</label>
// </span>
//

@mixin _checkbox($params: ()) {
  $params: map-merge(
    (
      size: $_base-font-size-px,
      border-radius: $_border-radius,
    ),
    $params
  );

  $z-index: 1;
  $border-radius: map-get($params, 'border-radius');
  $size: map-get($params, 'size');
  $root: #{&};

  position: relative;
  display: inline-block;
  padding-left: $size;

  > [type="checkbox"],
  &__label::before,
  &__label::after {
    @include _position(absolute, 50%, null, null, 0);
    transform: translateY(-50%);
  }

  > [type="checkbox"] {
    z-index: $z-index;
    @include _square($size);
    cursor: pointer;
    opacity: 0 !important;
    outline: 0;

    &:checked ~ #{$root}__label::after {
      opacity: 1;
    }
  }

  &__label {
    &::before,
    &::after {
      z-index: ($z-index - 1);
      display: inline-block;
    }

    &::before {
      @include _square($size);
      content: '';
      background-color: #fff;
      border: 1px solid _light($_color-gray);
      border-radius: $border-radius;
    }

    &::after {
      @include _ic();
      content: "\e901";
      opacity: 0;
      font-size: calc(#{$size} - 4px);
      left: (4px / 2);
    }
  }
}
