//
// Container side margin
// @var  length
//
$_container-margin: $_base-line-height !default;

//
// Container (Fluid)
//
// .c-container-fluid {
//   @include _container-fluid();
// }
//
// <div class="c-container-fluid">
//   ...
// </div>
//

@mixin _container-fluid() {
  padding-right: ($_container-margin / 2);
  padding-left: ($_container-margin / 2);

  @include _media-min(md) {
    padding-right: $_container-margin;
    padding-left: $_container-margin;
  }
}

//
// Container max-width
// @var  length
//
$_container-max-width: 1200px !default;

//
// Container
//
// .c-container {
//   @include _container();
// }
//
// <div class="c-container">
//   ...
// </div>
//

@mixin _container() {
  @include _container-fluid();

  margin-right: auto;
  margin-left: auto;

  @include _media-only(lg) {
    max-width: _px2rem($_container-max-width);
  }
}
