@mixin _container-padding($use-safe-area: true) {
  padding-right: $_container-margin; // for IE11
  padding-left: $_container-margin; // for IE11

  @if true == $use-safe-area {
    padding-right: calc(#{ _var-container-margin-sm() } + constant(safe-area-inset-right));
    padding-left: calc(#{ _var-container-margin-sm() } + constant(safe-area-inset-left));

    padding-right: calc(#{ _var-container-margin-sm() } + env(safe-area-inset-right));
    padding-left: calc(#{ _var-container-margin-sm() } + env(safe-area-inset-left));

    @supports (-ms-ime-align: auto) {
      padding-right: #{ _var-container-margin-sm() }; // for Edge
      padding-left: #{ _var-container-margin-sm() }; // for Edge
    }
  }

  @include _media-min(md) {
    padding-right: $_container-margin * 2;
    padding-left: $_container-margin * 2;

    @if true == $use-safe-area {
      padding-right: calc(#{ _var-container-margin() } + constant(safe-area-inset-right));
      padding-left: calc(#{ _var-container-margin() } + constant(safe-area-inset-left));

      padding-right: calc(#{ _var-container-margin() } + env(safe-area-inset-right));
      padding-left: calc(#{ _var-container-margin() } + env(safe-area-inset-left));

      @supports (-ms-ime-align: auto) {
        padding-right: #{ _var-container-margin() }; // for Edge
        padding-left: #{ _var-container-margin() }; // for Edge
      }
    }
  }
}

/*
---
name: _fluid-container()
category:
  - core/abstract
  - core/abstract/container
---
Abstract fluid container component

### scss
```scss
.c-fluid-container {
  @include _fluid-container();
}
```

### html
```ejs
<div class="c-fluid-container">
  ...
</div>
```
*/

@mixin _fluid-container() {
  @include _container-padding();
}

/*
---
name: _container()
category:
  - core/abstract
  - core/abstract/container
---
Abstract container component

### scss
```scss
.c-container {
  @include _container();
}
```

### html
```ejs
<div class="c-container">
  ...
</div>
```
*/

@mixin _container() {
  @include _fluid-container();

  margin-right: auto;
  margin-left: auto;

  @include _media-min(lg) {
    max-width: $_container-max-width; // for IE11
    max-width: _var-container-max-width();
  }
}
