/*
---
name: _dropdown()
category:
  - core/abstract
---
Abstract dropdown component

### scss
```scss
.c-dropdown {
  $item-padding-coefficient: 1;

  @include _dropdown();
  @include _transition(bottom, visibility);
  transition-timing-function: ease-in;

  &[aria-hidden="false"] {
    transition-timing-function: ease-out;
  }

  &__menu {
    @include _list-unstyled();
  }

  &__item, &__subitem {
    position: relative;
  }

  &__item {
    @include _padding(.5, $item-padding-coefficient, 0);
  }

  &__submenu {
    @include _list-unstyled();
    @include _margin(0, ($item-padding-coefficient * -1), 0, 0);
    padding-left: 1em;
  }

  &__subitem {
    @include _padding(.5, $item-padding-coefficient, 0, 0);
  }

  &__toggle {
    @include _position(absolute, _space(.5), 5px, 0);
    @include _square($_base-line-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
```

### js
```js
import BasisDrawer from 'node_modules/sass-basis/src/js/_drawer.js';
new BasisDrawer({
  drawer : '.c-dropdown',
});
```

### html
```ejs
<div style="min-height: 200px; position: relative">
  <nav id="my-dropdown" class="c-dropdown" role="navigation" aria-hidden="true" aria-labelledby="my-dropdown-btn">
    <ul class="c-dropdown__menu">
      <li class="c-dropdown__item">
        <div class="c-hamburger-btn" role="button" aria-expanded="false" aria-controls="my-dropdown">
          <div class="c-hamburger-btn__bars">
            <div class="c-hamburger-btn__bar"></div>
            <div class="c-hamburger-btn__bar"></div>
            <div class="c-hamburger-btn__bar"></div>
          </div>
          <div class="c-hamburger-btn__label">MENU</div>
        </div>
      </li>
      <li class="c-dropdown__item"><a href="#">menu</a></li>
      <li class="c-dropdown__item"><a href="#">menu</a></li>
      <li class="c-dropdown__item">
        <a href="#">menu</a>
        <div class="c-dropdown__toggle" aria-expanded="false">
          <span class="c-ic-angle-right" aria-hidden="true"></span>
        </div>
        <ul class="c-dropdown__submenu" aria-hidden="true">
          <li class="c-dropdown__subitem"><a href="#">submenu</a></li>
          <li class="c-dropdown__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div id="my-dropdown-btn" class="c-hamburger-btn" aria-expanded="false" aria-controls="my-dropdown">
  <div class="c-hamburger-btn__bars">
    <div class="c-hamburger-btn__bar"></div>
    <div class="c-hamburger-btn__bar"></div>
    <div class="c-hamburger-btn__bar"></div>
  </div>
  <div class="c-hamburger-btn__label">MENU</div>
</div>
```
*/

@mixin _dropdown($params: ()) {
  $params: map-merge(
    (
    ),
    $params
  );

  $width: map-get($params, 'width');
  $max-width: map-get($params, 'max-width');

  @include _position(absolute, 0, 0, 100%, 0, 10);
  overflow-y: auto;
  visibility: hidden;

  &[aria-hidden="false"] {
    visibility: visible;
    bottom: 0;
  }

  &__submenu {
    height: 0;
    overflow: hidden;

    &[aria-hidden="false"] {
      height: auto;
      overflow: visible;
    }
  }

  &__item, &__subitem {
    > a {
      display: block;
      text-decoration: none;
    }
  }

  &__toggle {
    cursor: pointer;
  }
}
