/*
---
name: _entries()
category:
  - core/abstract
---
Abstract entries component

### scss
```scss
.c-entries {
  @include _entries();
  boder-top: 1px solid var(--_light-color-gray);

  &__item {
    padding: var(--_padding1) 0;
    boder-bottom: 1px solid var(--_light-color-gray);
  }
}
```

### html
```ejs
<ul class="c-entries">
  <li class="c-entries__item">
    ...
  </li>
</ul>
```
*/

@mixin _entries() {
  @include _list-unstyled();
}
