//
// The media component. When smartphone size, vertically aligned.
//
// .c-flex-media {
//   @include _flex-media();
// }
//
// <div class="c-flex-media">
//  <div class="c-flex-media__figure">
//    <img ...>
//  </div>
//  <div class="c-flex-media__body">
//    ...
//  </div>
// </div>
//

@mixin _flex-media() {
  @include _media-min(md) {
    display: flex;
  }

  &__figure {
    @include _background-image-cover();
    flex: none;

    > img {
      width: 100%;

      @include _media-min(md) {
        width: auto;
      }
    }

    > * {
      @include _media-min(md) {
        vertical-align: top;
        margin-top: $_between-lines;
      }
    }
  }

  &__body {
    flex: 1;
  }
}
