/*
---
name: _flex-media()
category:
  - core/abstract
---
Abstract flexible media component

### scss
```scss
.c-flex-media {
  @include _flex-media();

  &__figure {
    @include _margin(0, 0, .5);
    width: 100%;

    @include _media-min(md) {
      @include _margin(0, 1, 0, 0);
      width: 150px;
    }
  }
}
```

### html
```ejs
<div class="c-flex-media">
  <div class="c-flex-media__figure">
    <img src="/basis/aigis_assets/images/dummy.jpg">
  </div>
  <div class="c-flex-media__body">
    ...
  </div>
</div>
```
*/

@mixin _flex-media() {
  @include _media-min(md) {
    display: flex;
  }

  &__figure {
    @include _background-image-cover();
    flex: none;

    > img {
      width: 100%;
    }

    > * {
      @include _media-min(md) {
        vertical-align: top;
        margin-top: $_between-lines;
      }
    }
  }

  &__body {
    flex: 1 1 0%;
  }
}
