/*
---
name: _hamburger-btn()
category:
  - core/abstract
  - core/abstract/_hamburger-btn()
---
```scss
.c-hamburger-btn {
  @include _hamburger-btn((
    height: 16px,
    width: 22px,
    bar-height: 2px,
    color: $_color-text,
  ));
}
```
```js
import BasisHamburgerBtn from 'node_modules/sass-basis/src/js/hamburger-btn.js';
new BasisHamburgerBtn();
```
```ejs
<div id="hamburger-btn" class="c-hamburger-btn" role="button" data-c="hamburger-btn" aria-expanded="false" aria-controls="drawer">
  <div class="c-hamburger-btn__bar"></div>
  <div class="c-hamburger-btn__bar"></div>
  <div class="c-hamburger-btn__bar"></div>
</div>

<nav id="drawer" aria-labeledby="hamburger-btn">...</nav>
```
*/

@mixin _hamburger-btn($params: ()) {
  $params: map-merge(
    (
      height: 16px,
      width: 22px,
      bar-height: 2px,
      color: $_color-text,
    ),
    $params
  );

  $height: map-get($params, 'height');
  $width: map-get($params, 'width');
  $bar-height: map-get($params, 'bar-height');
  $color: map-get($params, 'color');

  position: relative;
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  height: $height;
  width: $width;

  &__bar {
    @include _position(absolute, null, 0, null, 0);
    display: block;
    background-color: $color;
    height: $bar-height;
    @include _transition(transform);

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: ($height / 2 - $bar-height / 2);
    }

    &:nth-child(3) {
      top: ($height - $bar-height);
    }
  }
}
