//
// Hamburger Button
//
// @param  hash  $params  properties for decoration
//
// .c-hamburger-btn {
//   @include _hamburger-btn((
//     height: 16px,
//     width: 22px,
//     bar-height: 2px,
//     color: _color-text,
//   ));
// }
//
// <div class="c-hamburger-btn" role="button" aria-expanded="false">
//   <div class="c-hamburger-btn__bar"></div>
//   <div class="c-hamburger-btn__bar"></div>
//   <div class="c-hamburger-btn__bar"></div>
// </div>
//

@mixin _hamburger-btn($params: ()) {
  $params: map-merge(
    (
      height: 16px,
      width: 22px,
      bar-height: 2px,
      color: $_color-text,
    ),
    $params
  );

  position: relative;
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  height: map-get($params, 'height');
  width: map-get($params, 'width');

  &__bar {
    @include _position(absolute, null, 0, null, 0);
    display: block;
    background-color: map-get($params, 'color');
    height: map-get($params, 'bar-height');
    @include _transition(transform);

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: (map-get($params, 'height') / 2 - map-get($params, 'bar-height') / 2);
    }

    &:nth-child(3) {
      top: (map-get($params, 'height') - map-get($params, 'bar-height'));
    }
  }
}
