//
// Grid System (Inline Block Base)
//
// .c-row {
//   @include _ib-row();
//   &__col {
//     @include _ib-row__col();
//     &--1-3 {
//       @include _ib-row__col(1, 3);
//     }
//     &--offset-1-3 {
//       @include _ib-row__col--offset(1, 3);
//     }
//   }
// }
//
// <div class="c-row">
//   <div class="c-row__col">
//     ...
//   </div>
// </div>
//

@mixin _ib-row() {
  display: block;
  font-size: 0;
}

//
// Setting column width
//
// @param  int  $columns      molecule column size
// @param  int  $max-columns  denominator column size
//
@mixin _ib-row__col($columns: null, $max-columns: null) {
  display: inline-block;
  font-size: $_base-font-size;
  text-align: left;
  vertical-align: top;

  @if (not _is-null($columns) and not _is-null($max-columns)) {
    $width: percentage($columns / $max-columns);
    @include _ib-row__col--width($width);
  } @else {
    @include _ib-row__col--width(100%);
  }
}

//
// Setting column width
//
// @param  length  $width
//
@mixin _ib-row__col--width($width) {
  @if ('auto' == $width) {
    width: auto;
  } @else {
    width: $width;
  }
}

//
// Setting column offset
//
// @param  int  $columns      molecule offset size
// @param  int  $max-columns  denominator offset size
//
@mixin _ib-row__col--offset($columns: null, $max-columns: null) {
  @include _row__col--offset($columns, $max-columns);
}

//
// Adding margin for the column
//
// @param  int  $coefficient
//
@mixin _ib-row__col--margin($coefficient) {
  @include _row__col--margin($coefficient);
}

//
// Adding margin for the row
//
// @param  int  $coefficient
//
@mixin _ib-row--margin($coefficient) {
  @include _row--margin($coefficient);
}
