/*
---
name: _ic()
category:
  - core/abstract
---
Abstract icon component

### scss
```scss
.c-ic-angle-right {
  @include _ic();

  &::before {
    content: "\e900";
  }
}
```

### html
```ejs
<span class="c-ic-angle-right" aria-hidden="true"></span>
```
*/

@mixin _ic() {
  font-family: 'basis';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
