//
// Navbar
//
// .c-navbar {
//   @include _navbar();
// }
//
// import BasisNavbar from 'node_modules/sass-basis/src/js/navbar.js';
// new BasisNavbar();
//
// <ul class="c-navbar">
//   <li class="c-navbar__item" data-c="navbar__item" aria-haspopup="true">
//     <a href="#">menu</a>
//     <ul class="c-navbar__submenu" data-c="navbar__submenu" aria-hidden="true">
//       <li class="c-navbar__subitem" data-c="navbar__subitem" aria-haspopup="true">
//         <a href="#">submenu</a>
//         <ul class="c-navbar__submenu" data-c="navbar__submenu" aria-hidden="true">
//           <li class="c-navbar__subitem" data-c="navbar__subitem"><a href="#">submenu</a></li>
//         </ul>
//       </li>
//     </ul>
//   </li>
// </ul>
//

@mixin _navbar() {
  @include _list-unstyled();
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &__item {
    position: relative;
    display: flex;
    flex: 1 1 0%;

    > a {
      display: flex;
      flex: 1 1 0%;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-decoration: none;
    }

    > [data-c="navbar__submenu"] {
      @include _position(absolute, 100%, 0, null, 0);
    }
  }

  &__subitem {
    position: relative;

    > a {
      display: block;
      text-decoration: none;
    }

    > [data-c="navbar__submenu"] {
      @include _position(absolute, 0, null, null, 100%);
    }
  }

  &__submenu {
    @include _list-unstyled();
    min-width: 220px;
    opacity: 0;
    visibility: hidden;
    @include _transition(opacity);

    &[aria-hidden="false"] {
      visibility: visible;
      opacity: 1;
    }
  }
}
