/*
---
name: page-header()
category:
  - core/abstract
---
Abstract page header component

### scss
```scss
@use "node_modules/sass-basis/src/css/core";

.c-page-header {
  @include core.page-header();
  padding: var(--_padding2) 0;

  &__title {
    @include core.set-font-size-level(3);
  }
}
```

### html
```ejs
<div class="c-page-header">
  <h1 class="c-page-header__title">...</h1>
</div>
```
*/

@mixin page-header() {
  &__title {
    margin: 0;
    max-width: 100%; // For IE11
  }
}
