/*
---
name: _pre()
category:
  - core/abstract
---
Abstract pre component

### scss
```scss
pre {
  @include _pre();
}
```

## html
```ejs
<pre>pre</pre>
```
*/

@mixin _pre() {
  background-color: var(--_lightest-color-gray);
  border: 1px solid var(--_lighter-color-gray);
  border-radius: var(--_border-radius);
  padding: var(--_padding1);
  overflow: auto;

  code {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 100%;
    padding: 0;
  }
}
