/*
---
name: _pre()
category:
  - core/abstract
---
Abstract pre component

### scss
```scss
pre {
  @include _pre();
}
```

## html
```ejs
<pre>pre</pre>
```
*/

@mixin _pre() {
  background-color: _lightest($_color-gray); // For IE11
  background-color: _var-lightest-color-gray();
  border: 1px solid transparent;
  border-color: _lighter($_color-gray); // For IE11
  border-color: _var-lighter-color-gray();
  border-radius: $_border-radius; // for IE11
  border-radius: _var-border-radius();
  padding: $_base-font-size-px;
  overflow: auto;

  code {
    background-color: transparent;
    border: none;
    color: $_color-text;
    font-size: 100%;
    padding: 0;
  }
}
