/*
---
name: _responsive-container()
category:
  - core/abstract
---
Abstract responsive container component

### scss
```scss
.c-responsive-container-16-9 {
  @include _responsive-container();
  padding-bottom: (9 / 16 * 100%);
}
```

### html
```ejs
<div class="c-responsive-container-16-9">
  <iframe></iframe>
</div>
```
*/

@mixin _responsive-container() {
  position: relative;
  height: 0;

  iframe,
  embed,
  object {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
