//
// Select
//
// @param  hash  $params for decoration
//
// .c-select {
//   @include _select((
//     background-color: null,
//     border: null,
//   ));
// }
//
// <span class="c-select" data-c="select">
//   <select>
//     <option>1</option>
//     <option>2</option>
//     <option>3</option></select>
//   <span class="c-select__label" data-c="select__label"></span>
// </span>
//

@mixin _select($params: ()) {
  $params: map-merge(
    (
      background-color: null,
      border: null,
    ),
    $params
  );

  $background-color: map-get($params, 'background-color');
  $border: map-get($params, 'border');

  position: relative;
  display: inline-block;
  overflow: hidden;

  @if (not _is-null($border)) {
    border: $border;
  }

  @if (not _is-null($background-color)) {
    background-color: $background-color;
  }

  > select {
    @include _position(relative, null, null, null, null, 1);
    opacity: 0 !important;
    margin: 0;
    appearance: none;
    border: none;
    outline: 0;
  }

  &__label {
    @include _position(absolute, 0, 0, 0, 0, 0);
  }
}
