//
// Select
//
// @param  hash  $params for decoration
//
// .c-select {
//   @include _select((
//     background-color: null,
//     border: null,
//   ));
// }
//
// <span class="c-select">
//   <select></select>
// </span>
//

@mixin _select($params: ()) {
  $params: map-merge(
    (
      background-color: null,
      border: null,
    ),
    $params
  );

  $background-color: map-get($params, 'background-color');
  $border: map-get($params, 'border');

  position: relative;
  display: inline-block;
  overflow: hidden;

  @if (not _is-null($border)) {
    border: $border;
  }

  @if (not _is-null($background-color)) {
    background-color: $background-color;
  }

  &::before {
    @include _position(absolute, 50%, 6px, null, null);
    transform: translateY(-50%);
    content: '';
    display: block;
  }

  > select {
    position: relative;
    margin: 0;
    appearance: none;
    background-color: transparent !important;
    border: none;
    line-height: 1;
    outline: 0;
    width: calc(100% + 50px);
  }
}
