//
// Select
//
// .c-select {
//   @include _select();
// }
//
// import BasisSelect from 'node_modules/sass-basis/src/js/select.js';
// new BasisSelect();
//
// <span class="c-select" data-c="select" aria-selected="false">
//   <select>
//     <option>1</option>
//     <option>2</option>
//     <option>3</option></select>
//   <span class="c-select__label" data-c="select__label"></span>
// </span>
//

@mixin _select() {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #fff;
  @include _form-control-base-border();

  &::before {
    @include _position(absolute, 50%, ($_between-lines * 2), null, null, 1);
    transform: translateY(-50%);
    @include _ic();
    content: "\e902";
  }

  > select,
  &__label {
    @include _form-control-base-padding();
  }

  > select {
    @include _position(relative, null, null, null, null, 1);
    opacity: 0 !important;
    margin: 0;
    appearance: none;
    border: none;
    outline: 0;
    @include _padding-right(1.5);
  }

  &__label {
    @include _position(absolute, 0, 0, 0, 0, 0);
    padding-right: 0;
  }
}
