/*
---
name: _spinner-circle()
category:
  - core/abstract
  - core/abstract/_spinner-circle()
---
```scss
.c-spinner-circle {
  @include _spinner-circle((
    size: 20px,
    color: _light($_color-gray),
    border-size: 3px,
    delay: 0s,
    duration: 2s,
  ));
}
```
```ejs
<div class="c-spinner-circle"></div>
```
*/

@mixin _spinner-circle($params: ()) {
  $params: map-merge(
    (
      size: 20px,
      color: _light($_color-gray),
      border-size: 3px,
      delay: 0s,
      duration: 2s,
    ),
    $params
  );

  $size: map-get($params, 'size');
  $color: map-get($params, 'color');
  $border-size: map-get($params, 'border-size');
  $delay: map-get($params, 'delay');
  $duration: map-get($params, 'duration');

  $animation-name: _sanitize-animation-name(_spinner-circle- + zip(map-values($params)));

  display: inline-block;
  @include _circle($size);
  border: $border-size solid $color;
  border-top-color: _dark($color);
  animation: $animation-name $duration linear $delay infinite;

  @keyframes #{$animation-name} {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
